<div class="card custom-table">
  <p-table #dt2 [value]="receiptData" 
   [resizableColumns]="true" [rows]="20" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [columnResizeMode]="'fit'"
   [scrollable]="true" scrollHeight="25rem"  selectionMode="single"  styleClass="p-datatable-gridlines"
  [globalFilterFields]="['ReceiptNo','User', 'UserId', 'BillNo', 'Property', 'Paid_Date', 'Rental_lease_amount_permonth', 'GST', 'Total_rental_interest', 'Total', 'Due', 'Total_paid', 'Status']">
  <ng-template pTemplate="caption">
      <div class="searchbar">
        <div class="search">
          <div class="filters">
            <div class="search" *ngIf=" userRole !== 'USER'">
              <p-multiSelect 
              [options]="locationList" 
              placeholder="Complex"
              [(ngModel)]="locationFilter"
              optionLabel = "LOCATION_CODE"
              [filter]="false"
              (onChange)="applyFilters()"
               >
               <ng-template let-selectedValue pTemplate="selectedItem">
                {{ selectedValue.LOCATION }}
            </ng-template>
            </p-multiSelect>
          </div>
            <div class="search" *ngIf=" userRole !== 'USER'">
              <p-multiSelect 
              [options]="complexList" 
              placeholder="Property"
              [(ngModel)]="propertyFilter"
              optionLabel = "PROPERTY_CODE"
              [filter]="false"
              (onChange)="applyFilters()"
               >
               <ng-template let-selectedValue pTemplate="selectedItem">
                {{ selectedValue.PROPERTY_CODE }}
            </ng-template>
            </p-multiSelect>
          </div>
          <div class="search" *ngIf="userRole !== 'USER'">
            <p-multiSelect
                [options]="allAlloteList"
                placeholder="Allote Name"
                [(ngModel)]="alloteFilter"
                [filter]="false"
                (onChange)="applyFilters()"
            >
                <!-- Custom template for dropdown items -->
                <ng-template let-option pTemplate="item">
                    {{ option | slice:0:14 }} <!-- Limit dropdown item to 5 characters -->
                </ng-template>
                <ng-template let-selectedValue pTemplate="selectedItem">
                  {{ selectedValue | slice:0:14 }}
              </ng-template>
            </p-multiSelect>
        </div>
        
          </div>
        </div>
          <div *ngIf=" userRole !== 'USER' && userRole !== 'ACCOUNTS_TEAM'">
            <button  class="addbutton" (click)="showDialog()">+ Add Receipt</button>
          </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr style="font-size: 12px; padding: 0;">
        <!-- <th pSortableColumn="ID">S No</th> -->
        <th pResizableColumn pSortableColumn="ReceiptNo">Receipt No<p-sortIcon field="ReceiptNo" /></th>
        <!--pResizableColumn  <th pSortableColumn="BillNo">Bill No<p-sortIcon field="BillNo" /></th> -->
        <th pResizableColumn pSortableColumn="User" *ngIf="userRole !== 'USER'">User Id<p-sortIcon field="User" /></th>
        <!--pResizableColumn  <th pSortableColumn="User">Receipt No<p-sortIcon field="User" /></th> -->
        <th pResizableColumn pSortableColumn="BillNo">Bill No<p-sortIcon field="BillNo" /></th>
        <th pResizableColumn pSortableColumn="Property" class="column-small">Property Name<p-sortIcon field="Property" /></th>
        <th pResizableColumn >Challana/Reference No</th>
        <th pResizableColumn >Paid Date</th>
        <th pResizableColumn >Lease Amount</th>
        <th pResizableColumn >GST</th>
        <th pResizableColumn >Total Rent Interest</th>
        <th pResizableColumn >Arrears</th>
        <th pResizableColumn >Total</th>
        <th pResizableColumn >Due</th>
        <th pResizableColumn >Amount Paid</th>
        <th pResizableColumn >Status</th>
        <th pResizableColumn></th>
        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-receipt>
      <tr style="font-size: 12px;">
        <!-- <td style="width: 6%;">{{ receipt.ID }}</td> -->
        <!-- <td style="width: 8%;">{{ receipt.BillNo }}</td> -->
        <td >{{ receipt.ReceiptNo }}</td>
        <td  *ngIf="userRole !== 'USER'">{{ receipt.User }}</td>
        <!-- <td style="width: 8%;">{{ receipt.ReceiptNo }}</td> -->
        <td >{{ receipt.BillNo }}</td>
        <td >{{ receipt.property_name }}</td>
        <td >{{ receipt.challana_number }}</td>
        <td >{{ receipt.paid_date | date: 'dd/MM/yyyy' }}</td>
        <td >{{ receipt.Rental_lease_amount_permonth }}</td>
        <td >{{ receipt.GST }}</td>
        <td >{{ receipt.Total_rental_interest }}</td>
        <td >{{ receipt.out_standing_due }}</td>
        <td >{{ receipt.Total }}</td>
        <td >{{ receipt.Due }}</td>
        <td >{{ receipt.Current_Payment }}</td>
        <td >{{ receipt.Status }}</td>
        <td><i class="pi pi-download" pTooltip=" Download Receipt" tooltipPosition="left"
          (click)="getuserdataforreciept(receipt)"></i></td>
        <td *ngIf="receipt.attachment_url !== null" pTooltip=" Download Attachment " tooltipPosition="left"
        (click)="downloadFile(receipt.attachment_url)"><i class="pi pi-paperclip" style="color: slateblue"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="16">No data found.</td>
    </tr>
    </ng-template>
  </p-table>
</div>

<div class="dialog">                
  <p-dialog
  header="Add Manual Receipt"
  [modal]="true"
  [(visible)]="visible"
  position="center"
  [style]="{ width: '50rem' }" (onHide)="closeDialog()">
  <form [formGroup]="addNewRecept" (ngSubmit)="addNewUser()">
    <div class="form-container">
      <div class="form-row">
        <div class="form-group">
          <label for="bill-no" class="form-label">Search By Bill No</label>
          <input type="text" id="bill-no" class="form-input" formControlName="billNo" (keydown)="handleKeyDown($event)" style="width: 94% !important;"/> <!--keydown keybord trigger function  -->
          <p-iconField iconPosition="right" class="ml-auto">
            <p-inputIcon (click)="fetchBillDetails(addNewRecept.get('billNo')!.value)">
                <i class="pi pi-search"></i>
            </p-inputIcon>
        </p-iconField>
        </div>
      </div>
      <div class="form-row" *ngIf="hideAddNew " >
        <div class="form-group">
          <label for="bill-no" class="form-label">Property Name</label>
          <input type="text" id="bill-no" class="form-input" formControlName="Property" />
        </div>
        <div class="form-group">
          <label for="user-id" class="form-label">User Name</label>
          <input type="text" id="user-id" class="form-input" formControlName="User"/>
        </div> 
      </div>
      <div class="form-row" *ngIf="hideAddNew">
        <div class="form-group">
          <label for="bill-no" class="form-label">Total Amount</label>
          <input type="text" id="bill-no" class="form-input" formControlName="Total" />
        </div>
        <div class="form-group" *ngIf="hideAddNew">
          <label for="user-id" class="form-label">status</label>
          <input type="text" id="user-id" class="form-input" formControlName="Status"/>
        </div>
      </div>
      <div class="form-row" *ngIf="hideAddNew">
        <div class="form-group">
          <label for="user-id" class="form-label">Bill Period</label>
          <input type="text" id="user-id" class="form-input" formControlName="Bill_Period"/>
        </div>
        <div class="form-group">
          <label for="fileupload" class="form-label">Upload</label>
            <input type="file" id="fileupload" class="form-input"  (change)="onFileChange($event)" />
            <small class="input-format-info">Upload file size limit: 10MB</small>
        </div>
      </div>
      <div class="form-row" *ngIf="hideAddNew">
        <div class="form-group">
          <label for="amount_paid" class="form-label">Challana/Reference Number</label>
          <input type="text" id="amount_paid" class="form-input" formControlName="challanaNumber"/>
        </div>
        <div class="form-group">
          <label for="amount_paid" class="form-label">Amount Paid <span class="text-danger">*</span></label>
          <input type="text" id="amount_paid" class="form-input" formControlName="amount_paid"/>
          <div *ngIf="addNewRecept.get('amount_paid')?.invalid && (addNewRecept.get('amount_paid')?.touched || submitted)">
            <small class="text-danger">Amount Paid is required.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="btn" *ngIf="hideAddNew">
      <div class="save" *ngIf="bill_status !== 'FP'">
        <p-button label="Manual Pay" type="submit" (click)="addReciept()" size="small"/>
      </div>
      <div class="cancel">
        <p-button label="Cancel" severity="danger" (click)="closeDialog()" size="small"/>
      </div>
    </div>
  </form>
</p-dialog>
</div>