// ::ng-deep .p-tabview .p-tabview-panels {
//     padding: 0rem 0rem 4rem 0rem; 
// }
.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
/* Container to center the form */
.form-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .form-group {
    width: 48%;
  }
  
  .form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #6c757d; /* Adjust color as needed */
  }
  
  .form-input {
    width: 90%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1rem;
    
    &:focus {
      border-color: #007bff;
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
 
  .editButton{
    border: none;
    background: none;
    color: green;
   }
  .deleteButton{
    border: none;
    background: none;
    color: red;
  }
  .rowbtn{
    display: flex;
    gap: 1rem;
  }
  
