
<div class="card custom-table">
    <p-table [value]="receiptData" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true">
        <ng-template pTemplate="caption">
            <div class="searchbar">
                <div class="search">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" placeholder="Search keyword" />
                    </p-iconField>
                </div>

<p-button 
(click)="showDialog()" 
label="Add New" 
severity="success"
size="small" />
</div>
</ng-template>
<ng-template pTemplate="header">
          <tr style="font-size: 12px; padding: 0;">
            <!-- <th pSortableColumn="ID">S No</th> -->
            <th pSortableColumn="User">Receipt No<p-sortIcon field="User" /></th>
            <!-- <th pSortableColumn="BillNo">Bill No<p-sortIcon field="BillNo" /></th> -->
            <th pSortableColumn="User">User Id<p-sortIcon field="User" /></th>
            <!-- <th pSortableColumn="User">Receipt No<p-sortIcon field="User" /></th> -->
            <th pSortableColumn="BillNo">Bill No<p-sortIcon field="BillNo" /></th>
            <th pSortableColumn="Property">Property Code<p-sortIcon field="Property" /></th>
            <th pSortableColumn="Paid_Date">Paid date<p-sortIcon field="BillNo" /></th>
            <th pSortableColumn="Rental_lease_amount_permonth">Lease Amount<p-sortIcon
                field="Rental_lease_amount_permonth" /></th>
            <th pSortableColumn="GST">GST<p-sortIcon field="GST" /></th>
            <th pSortableColumn="Total_Rent">Total Rent Interest<p-sortIcon field="Total_rental_interest" /></th>
            <th pSortableColumn="Total">Total<p-sortIcon field="Total" /></th>
            <th pSortableColumn="Total_paid">Total Paid<p-sortIcon field="Total_Paid" /></th>
            <th pSortableColumn="Due">Due<p-sortIcon field="Due" /></th>
            <th pSortableColumn="Status">Status<p-sortIcon field="Status" /></th>
            <th></th>


          </tr>
</ng-template>
        <ng-template pTemplate="body" let-receipt>
          <tr style="font-size: 12px;">
            <!-- <td style="width: 6%;">{{ receipt.ID }}</td> -->
            <!-- <td style="width: 8%;">{{ receipt.BillNo }}</td> -->
            <td style="width: 8%;">{{ receipt.ReceiptNo }}</td>
            <td style="width: 8%;">{{ receipt.User }}</td>
            <!-- <td style="width: 8%;">{{ receipt.ReceiptNo }}</td> -->
              <td style="width: 8%;">{{ receipt.BillNo }}</td>
            <td style="width: 8%;">{{ receipt.Property }}</td>
            <td style="width: 8%;">{{ receipt.paid_date }}</td>
            <td style="width: 8%;">{{ receipt.Rental_lease_amount_permonth }}</td>
          <td style="width: 8%;">{{ receipt.GST }}</td>
            <td style="width: 6%;">{{ receipt.Total_rental_interest }}</td>
            <td style="width: 10%;">{{ receipt.Total }}</td>
            <td style="width: 10%;">{{ receipt.TotalPaid }}</td>
            <td style="width: 10%;">{{ receipt.Due }}</td>

            <td style="width: 10%;">{{ receipt.Status }}</td>
            <td><i class="pi pi-download"(click)="generatePDF(receipt)" ></i></td>

<!-- (click)="generatePDF(receipt)" -->
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" >


        </ng-template>
    </p-table>
</div>



<!-- <app-footer></app-footer> -->

<div class="dialog">
                 
  <p-dialog
  header="Add New"
  [modal]="true"
  [(visible)]="visible"
  position="center"
  [style]="{ width: '50rem' }">
  <form [formGroup]="addNewRecept" (ngSubmit)="addNewUser()">
    <div class="form-container">
      <div class="form-row">
        <div class="form-group">
          <label for="bill-no" class="form-label">Bill No</label>
          <input type="text" id="bill-no" class="form-input" formControlName="billNo" />
          <p-iconField iconPosition="right" class="ml-auto">
            <p-inputIcon (click)="fetchBillDetails(addNewRecept.get('billNo')!.value)">
                <i class="pi pi-search"></i>
            </p-inputIcon>
        </p-iconField>
        </div>
        <!-- <div class="form-group" style="margin-top: 1.2rem;">
          <p-iconField iconPosition="right" class="ml-auto">
            <p-inputIcon (click)="fetchBillDetails(addNewRecept.get('billNo')!.value)">
                <i class="pi pi-search"></i>
            </p-inputIcon>
        </p-iconField>
        </div> -->
      </div>
      <div class="form-row" *ngIf="hideAddNew">
        <div class="form-group">
          <label for="bill-no" class="form-label">Property Code</label>
          <input type="text" id="bill-no" class="form-input" formControlName="Property" />
        </div>
        <div class="form-group">
          <label for="user-id" class="form-label">User Id</label>
          <input type="text" id="user-id" class="form-input" formControlName="User"/>
        </div>
       
      </div>
      <div class="form-row" *ngIf="hideAddNew">
        <div class="form-group">
          <label for="bill-no" class="form-label">Total Amount</label>
          <input type="text" id="bill-no" class="form-input" formControlName="Total" />
        </div>
        <div class="form-group" *ngIf="hideAddNew">
          <label for="user-id" class="form-label">status</label>
          <input type="text" id="user-id" class="form-input" formControlName="Status"/>
        </div>
      </div>
      <div class="form-row" *ngIf="hideAddNew">
        <div class="form-group">
          <label for="user-id" class="form-label">Bill Period</label>
          <input type="date" id="user-id" class="form-input" formControlName="Bill_Period"/>
        </div>
        <div class="form-group">
          <label for="bill-no" class="form-label">Paid Amount</label>
          <input type="text" id="bill-no" class="form-input" formControlName="paidAmount" />
        </div>
      </div>
    </div>
    <div class="btn" *ngIf="hideAddNew">
      <div class="save">
        <p-button label="Save" type="submit" (click)="addReciept()" size="small"/>
      </div>
      <div class="cancel">
        <p-button label="Cancel" severity="danger" (click)="visible = false" size="small"/>
      </div>
    </div>
  </form>
</p-dialog>

</div>