<div>

    <header class="header">
        <div class="logo">
            <img src="../../assets/vmrda_logo_image.png" alt="Logo"  width="200" height="100" loading="lazy" style="width: 100%; margin-left: 1rem;">
        </div>
        <div class="title">
            <h3>Visakhapatnam Metropolitan Region Development Authority</h3>
        </div>
        <div style="display: flex;">
            <div style="margin-right: 20px;">Welcome, {{userType}}</div>
            <div style="cursor: pointer;">
                <i class="pi pi-question-circle" style="font-size: 1.3rem;"></i>
            </div>
            <div style="margin-left: 10px;cursor: pointer;" >
              <!-- <p-menu #notificationmenu  [popup]="true" [style]="{ width: '50%' }">
                <div class="noticifaction" *ngFor="let item of dataSource">
                  <p>Your bill has been successfully generated for your property on  {{item.Bill_generated_date}}</p>
                </div>
              </p-menu> -->
              <div class="card flex justify-content-center">
                <p-dialog header="Notifications" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }" [position]="'topright'" (onHide)="closeNotificationDialog()">
                  <div class="noticifaction" style="display: flex;align-items: center;" *ngFor="let item of dataSource">
                    <p style="margin-right: 1rem;">{{item.Notification_Content}}</p>
                    <i class="pi pi-trash" style="font-size: 1.3rem;color: red;" (click)="deleteNotification(item)"></i>
                    <hr/>
                  </div>
                  <div style="display: flex;justify-content: center;margin-top: 1rem;">
                  <span class="clearAllButton" (click)="clearAllNotifications()">Clear All</span>
                </div>
                </p-dialog>
              </div>
                <i class="pi pi-bell" style="font-size: 1.3rem;" (click)="showNotificationDialog()" pBadge [value]="dataSource?.length" severity="danger"></i>
            </div>
            <div style="margin-left: 10px;cursor: pointer;">
                <p-menu #usermenu [model]="items" [popup]="true" [style]="{ width: '16%' }"></p-menu>
                <i class="pi pi-user" style="font-size: 1.3rem;" (click)="usermenu.toggle($event)"></i>
            </div>
        </div>
    </header>

    <!-- Profile View Dialog -->

    <p-dialog header="View Profile" [(visible)]="viewProfileDialog" [modal]="true" [closable]="true" [style]="{ width: '50rem' }">
        <form [formGroup]="profileForm">
            <div class="form-row">
                <div class="form-group">
                  <label for="mobile" class="form-label">User ID</label>
                  <input type="text" id="mobile" formControlName="USER_ID" class="form-input" />
                </div>
                <div class="form-group">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" id="username" formControlName="USER_NAME" class="form-input" />
                </div>
            </div>
            <div class="form-row">
                    <div class="form-group">
                      <label for="usertype" class="form-label">User Type</label>
                      <input type="text" id="usertype" formControlName="USER_TYPE" class="form-input" />
                    </div>
                    <div class="form-group">
                      <label for="rd" class="form-label">Revenue Division</label>
                      <input type="text" id="rd" formControlName="REVENUE_DIVISION" class="form-input" />
                    </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                  <label for="emailId" class="form-label">Email Id</label>
                  <input type="text" id="emailId" formControlName="EMAIL_ID" class="form-input" />
                </div>
                <div class="form-group">
                  <label for="mobileno" class="form-label">Mobile No</label>
                  <input type="text" id="mobileno" formControlName="MOBILE_NUM" class="form-input" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                  <label for="aadharno" class="form-label">Aadhar No</label>
                  <input type="number" id="aadharno" formControlName="AADHARNO" class="form-input" />
                </div>
                <div class="form-group">
                  <label for="gstno" class="form-label">GST IN</label>
                  <input type="text" id="gstno" formControlName="GST_IN" class="form-input" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                  <label for="panno" class="form-label">Pan No</label>
                  <input type="number" id="aadharno" formControlName="PAN" class="form-input" />
                </div>
                <div class="form-group">
                  <label for="bussiness" class="form-label">Bussiness</label>
                  <input type="text" id="bussiness" formControlName="NATURE_OF_BUSINESS" class="form-input" />
                </div>
            </div>
            <div style="display: flex;justify-content:center;margin-top: 2rem;">
                <button class="editButton" type="button" (click)="saveData()">Save</button>
            </div>
        </form>
    </p-dialog>

    <!-- Change Password Dialog -->
     
    <p-dialog header="Change Password" [(visible)]="changePasswordDialog" [modal]="true" [closable]="true" [style]="{ width: '50rem' }">
            <form [formGroup]="passwordform">
             <div class="form-row">
              <div class="form-group">
                <label for="password" class="form-label">Old Password</label>
                <input type="password" id="oldpassword" formControlName="oldPassword" class="form-input" />
              </div>
                <div class="form-group">
                  <label for="password" class="form-label">New Password</label>
                  <input type="password" id="newpassword" formControlName="newPassword" class="form-input" />
                </div>
                <div class="form-group">
                  <label for="confirmPassword" class="form-label">Confirm password</label>
                  <input type="password" id="confirmPassword" formControlName="ConfirmnewPassword" class="form-input" />
                </div>
            </div>
            <div style="display: flex;justify-content:center;margin-top: 2rem;">
                <button class="editButton" type="submit" (click)="editPassword()">Save</button>
                <span style="border-left: 6px solid white;height: 1rem;"></span>
                <!-- <button  class="deleteButton" type="button" (click)="changePasswordDialog=false">Cancel</button> -->
            </div>
            </form>
    </p-dialog>
    
</div>
