<div class="">
    <header class="header">
        <div class="logo">
            <img src="http://vmrda.gov.in/gallery/flowershow/1(1).JPG" alt="Logo" style="border-radius: 50%;">
        </div>
        <div class="title">
            <h3>Visakhapatnam Metropolitan Region Development Authority</h3>
        </div>
        <!-- <div>
            <div style="display: flex;justify-content: center;">{{userType}}</div>
            <div>
                <span>Edit Profile</span>
                <span (click)="logOut()">LogOut</span>
            </div> -->
        <button class="buttonClass" (click)="logOut()">Logout</button>
        <!-- </div> -->
    </header>
    
</div>