.footer{
  display: flex;
  justify-content: space-between;
  background-color: #42b994; // Background color of the footer
    color: black; // Text color
    padding: 0.9rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    a{
      text-decoration: none;
      color: #333;
    }
    a:hover{
      text-decoration: underline;
    }
}