<div class="footer">
    <footer class="">
        <div class="footer-content">
          <div class="footer-left">
            <a href="http://vmrda.gov.in/" target="_blank"><p>Copyright © 2020 VMRDA</p></a>
          </div>
          <div class="footer-right">
            <a href="http://vmrda.gov.in/" target="_blank">Privacy Policy</a>
            <a href="http://vmrda.gov.in/" target="_blank">Terms of Service</a>
            <a href="http://vmrda.gov.in/contactus.aspx" target="_blank">Contact Us</a>
          </div>
        </div>
      </footer>
      
</div>