.footer {
    background-color: #42b994; // Background color of the footer
    color: black; // Text color
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
  
  
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .footer-left {
        p {
          margin: 0;
          font-size: 14px; // Adjust font size as needed
        }
        a {
          color: black; // Link color
          margin-left: 20px;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline; // Underline links on hover
          }
        }
      }
  
      .footer-right {
        a {
          color: black; // Link color
          margin-left: 20px;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline; // Underline links on hover
          }
        }
      }
    }
  }