<div class="card custom-table" >
  <p-table [value]="dataSource" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [scrollable]="true">
    <ng-template pTemplate="caption">
      <div class="searchbar">
        <div class="search">
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" placeholder="Search keyword" />
          </p-iconField>
        </div>
        <div class="dialog" *ngIf="(userRole === 'COMMISSIONER'  || userRole === 'SECRETARY')">
          <p-button (onClick)="showDialog()" label="Add New" severity="success" size="small"></p-button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr style="font-size: 12px;">
        <th pSortableColumn="SL_NO">S No<p-sortIcon field="SL_NO"></p-sortIcon></th>
        <th pSortableColumn="USER_ID">User Id<p-sortIcon field="USER_ID"></p-sortIcon></th>
        <th pSortableColumn="USER_NAME">User Name<p-sortIcon field="USER_NAME"></p-sortIcon></th>
        <th pSortableColumn="PROPERTY">Property Code<p-sortIcon field="PROPERTY"></p-sortIcon></th>
        <th pSortableColumn="START_DATE">Start Date<p-sortIcon field="START_DATE"></p-sortIcon></th>
        <th pSortableColumn="END_DATE">End Date<p-sortIcon field="END_DATE"></p-sortIcon></th>
        <th pSortableColumn="DATE_OF_RENEWAL_OF_LICENSE">DATE OF RENEWAL<p-sortIcon field="DATE_OF_RENEWAL_OF_LICENSE"></p-sortIcon></th>
        <th pSortableColumn="RENTAL_LEASE_AMOUNT_PERMONTH">Lease Amount<p-sortIcon field="RENTAL_LEASE_AMOUNT_PERMONTH"></p-sortIcon></th>
        <th pSortableColumn="RENT_GO_LIVE">RENT GO LIVE<p-sortIcon field="RENT_GO_LIVE"></p-sortIcon></th>
        <th pSortableColumn="RENTAL_LEASE_PERIOD">LEASE PERIOD<p-sortIcon field="RENTAL_LEASE_PERIOD"></p-sortIcon></th>
        <th pSortableColumn="RENTAL_INTRESET_PERCENT">Rental Interest %<p-sortIcon field="RENTAL_INTRESET_PERCENT"></p-sortIcon></th>
        <th pSortableColumn="RENTAL_HIKE_PERCENT">Lease Hike %<p-sortIcon field="RENTAL_HIKE_PERCENT"></p-sortIcon></th>
        <th pSortableColumn="GST">GST %<p-sortIcon field="GST"></p-sortIcon></th>
        <!-- <th pSortableColumn="GST_INTEREST_PERCENT">GST INTEREST PERCENT<p-sortIcon field="GST_INTEREST_PERCENT"></p-sortIcon></th> -->
        <th pSortableColumn="LEASE_DEED_NO">Lease Deed Number<p-sortIcon field="LEASE_DEED_NO"></p-sortIcon></th>
        <!-- <th pSortableColumn="STATUS">STATUS<p-sortIcon field="STATUS"></p-sortIcon></th> -->
        <th *ngIf="(userRole === 'COMISSIONER'  || userRole === 'SECRETARY')"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-lease>
      <tr style="font-size: 12px;">
        <td>{{ lease.SL_NO }}</td>
        <td>{{ lease.USER_ID }}</td>
        <td>{{ lease.USER_NAME }}</td>
        <td>{{ lease.PROPERTY }}</td>
        <td>{{ lease.START_DATE | date: 'yyyy-MM-dd' }}</td>
        <td>{{ lease.END_DATE | date: 'yyyy-MM-dd' }}</td>
        <td>{{ lease.DATE_OF_RENEWAL_OF_LICENSE | date: 'yyyy-MM-dd'}}</td>
        <td>{{ lease.RENTAL_LEASE_AMOUNT_PERMONTH }}</td>
        <td>{{ lease.RENT_GO_LIVE }}</td>
        <td>{{ lease.RENTAL_LEASE_PERIOD }}</td>
        <td>{{ lease.rental_interest_percent }}</td>
        <td>{{ lease.RENTAL_HIKE_PERCENT }}</td>
        <td>{{ lease.GST }}</td>
        <!-- <td>{{ lease.GST_INTEREST_PERCENT }}</td> -->
        <td>{{ lease.LEASE_DEED_NO }}</td>
        <!-- <td>{{ lease.STATUS }}</td> -->
        <td *ngIf="(userRole === 'COMMISSIONER'  || userRole === 'SECRETARY')">
          <div class="rowbtn">
            <button class="editButton"><i class="pi pi-pencil"></i></button>
            <!-- <button class="deleteButton"><i class="pi pi-trash"></i></button> -->
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<!-- Add New Dialog  -->

<p-dialog 
  header="Add New" 
  [modal]="true"
  [(visible)]="visible" 
  position="center" 
  [style]="{ width: '50rem' }">
  <form [formGroup]="addNewForm" (ngSubmit)="addNewUser()">
    <div class="form-container">
      <div class="form-row">
        <div class="form-group">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" formControlName="username" class="form-input" />
        </div>
        <div class="form-group">
          <label for="mobile" class="form-label">Mobile No</label>
          <input type="number" id="mobile" formControlName="mobile" class="form-input" />
        </div>
      </div>
    
      <div class="form-row">
        <div class="form-group">
          <label for="business" class="form-label">Business</label>
          <input type="text" id="business" formControlName="business" class="form-input" />
        </div>
        <div class="form-group">
          <label for="aadhar" class="form-label">Aadhar No</label>
          <input type="number" id="aadhar" formControlName="aadhar" class="form-input" />
        </div>
      </div>
    
      <div class="form-row">
        <div class="form-group">
          <label for="pan" class="form-label">PAN No</label>
          <input type="text" id="pan" formControlName="pan" class="form-input" />
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Email ID</label>
          <input type="email" id="email" formControlName="email" class="form-input" />
        </div>
      </div>
    
      <div class="form-row">
        <div class="form-group">
          <label for="gstin" class="form-label">GST IN</label>
          <input type="text" id="gstin" formControlName="gstin" class="form-input" />
        </div>
        <div class="form-group">
          <label for="revenue" class="form-label">Revenue Division</label>
          <input type="text" id="revenue" formControlName="revenue" class="form-input" />
        </div>
      </div>
    </div>
    <div class="btn">
      <div class="save">
        <p-button type="submit" label="Save" size="small"/>
      </div>
      <div class="save">
        <p-button label="Cancel" severity="danger" (click)="visible = false" size="small"/>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Edit New Dilog  -->

<!-- <p-dialog
  header="Edit User"
  [(visible)]="editVisible"
  [modal]="true"
  position="center"
  [style]="{ width: '50rem' }">
  <form [formGroup]="editForm" (ngSubmit)="updateUser()">
    <div class="form-container">
      <div class="form-row">
        <div class="form-group">
          <label for="editUsername" class="form-label">Username</label>
          <input type="text" id="editUsername" formControlName="editUsername" class="form-input" />
        </div>
        <div class="form-group">
          <label for="editMobile" class="form-label">Mobile No</label>
          <input type="number" id="editMobile" formControlName="editMobile" class="form-input" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="editBusiness" class="form-label">Business</label>
          <input type="text" id="editBusiness" formControlName="editBusiness" class="form-input" />
        </div>
        <div class="form-group">
          <label for="editAadhar" class="form-label">Aadhar No</label>
          <input type="number" id="editAadhar" formControlName="editAadhar" class="form-input" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="editPan" class="form-label">PAN No</label>
          <input type="text" id="editPan" formControlName="editPan" class="form-input" />
        </div>
        <div class="form-group">
          <label for="editEmail" class="form-label">Email ID</label>
          <input type="email" id="editEmail" formControlName="editEmail" class="form-input" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="editGstin" class="form-label">GST IN</label>
          <input type="text" id="editGstin" formControlName="editGstin" class="form-input" />
        </div>
        <div class="form-group">
          <label for="editRevenue" class="form-label">Revenue Division</label>
          <input type="text" id="editRevenue" formControlName="editRevenue" class="form-input" />
        </div>
      </div>
    </div>
    <div class="btn">
      <div class="save">
        <p-button type="submit" label="Update" size="small"></p-button>
      </div>
      <div class="save">
        <p-button label="Cancel" severity="danger" (click)="editVisible = false" size="small"></p-button>
      </div>
    </div>
  </form>
</p-dialog> -->