// ::ng-deep .p-tabview .p-tabview-panels {
//     padding: 0rem 0rem 4rem 0rem; 
// }
.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Container to center the form */
.form-container {
  
    padding: 20px;

}

/* Styling form groups */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: start;
}

/* Styling labels */
.form-label {
    margin: 5px 8px;
    font-weight: 500;
    color: #333;
}

/* Styling input fields */
.form-input {
    padding: 0.5rem;
    width: fit-content;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 1rem;
}


.btn{
    display: flex;
    justify-content: center;
    gap: 1rem;
}


