<app-header></app-header>
<app-dashboard></app-dashboard>
<div class="card">
    <p-table #dt2 [value]="dataSource" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" 
        [paginator]="true" [globalFilterFields]="['S_No','User_ID','User_Name','Mobile_No','Nature_of_Business','Aadhaar_No','PAN_No','Email_Id','GSTIN','Revenue_Dvision']"
        [tableStyle]="{ 'min-width': '75rem' }" styleClass="p-datatable-striped">
        <ng-template pTemplate="caption">
            <div class="searchbar">
                <div class="search">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" (input)="onFilterGlobal($event)" placeholder="Search keyword" />
                    </p-iconField>
                </div>
                <div class="dialog">
                    <div >
                        <div >
                            <p-button 
                                (onClick)="showDialog()" 
                                label="Add New" 
                                severity="success"
                                size="small" />
                        </div>
                    
                     
                        <p-dialog 
                            header="Edit Details" 
                            [modal]="true"
                            [(visible)]="visible" 
                            position="center" 
                            [style]="{ width: '50rem' }">
                            <div class="form-container">
                                <div class="form-container">
                                    <div class="form-row">
                                      <div class="form-group">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" id="username" class="form-input" />
                                      </div>
                                      <div class="form-group">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" id="email" class="form-input" />
                                      </div>
                                    </div>
                                  
                                    <div class="form-row">
                                      <div class="form-group">
                                        <label for="address" class="form-label">Address</label>
                                        <input type="text" id="address" class="form-input" />
                                      </div>
                                      <div class="form-group">
                                        <label for="phone" class="form-label">Phone</label>
                                        <input type="text" id="phone" class="form-input" />
                                      </div>
                                    </div>
                                  
                                    <div class="form-row">
                                      <div class="form-group">
                                        <label for="city" class="form-label">City</label>
                                        <input type="text" id="city" class="form-input" />
                                      </div>
                                      <div class="form-group">
                                        <label for="state" class="form-label">State</label>
                                        <input type="text" id="state" class="form-input" />
                                      </div>
                                    </div>
                                  
                                    <div class="form-row">
                                      <div class="form-group">
                                        <label for="zip" class="form-label">Zip Code</label>
                                        <input type="text" id="zip" class="form-input" />
                                      </div>
                                      <div class="form-group">
                                        <label for="country" class="form-label">Country</label>
                                        <input type="text" id="country" class="form-input" />
                                      </div>
                                    </div>
                                  
                                    <div class="form-row">
                                      <div class="form-group">
                                        <label for="dob" class="form-label">Date of Birth</label>
                                        <input type="date" id="dob" class="form-input" />
                                      </div>
                                      <div class="form-group">
                                        <label for="gender" class="form-label">Gender</label>
                                        <select id="gender" class="form-input">
                                          <option value="male">Male</option>
                                          <option value="female">Female</option>
                                          <option value="other">Other</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  
                            </div>
                            
                               
                              
                                <div class="btn">
                                    <div class="save">
                                        <p-button label="save"  (onClick)="visible = false" size="small"/>
                                    </div>
                                    <div class="save">
                                        <p-button label="cancel"  severity="danger" (onClick)="visible = false" size="small"/>
                                    </div>
                                    
                                </div>
                        </p-dialog>
                    </div>
                </div>

            </div>
        </ng-template>
       
        <ng-template pTemplate="header">
            <tr style="font-size: 12px;">
                <th pSortableColumn="S_No">S.No <p-sortIcon field="S_No" /></th>
                <th pSortableColumn="User_ID">User ID <p-sortIcon field="User_ID" /></th>
                <th pSortableColumn="User_Name">User Name<p-sortIcon field="User_Name" /></th>
                <th pSortableColumn="Mobile_No">Mobile No<p-sortIcon field="Mobile_No" /></th>
                <th pSortableColumn="Nature_of_Business"> Business<p-sortIcon field="Nature_of_Business" /></th>
                <th pSortableColumn="Aadhaar_No">Aadhar No<p-sortIcon field="Aadhaar_No" /></th>
                <th pSortableColumn="PAN_No">PAN No<p-sortIcon field="PAN_No" /></th>
                <th pSortableColumn="Email_Id">Email Id<p-sortIcon field="Email_Id" /></th>
                <th pSortableColumn="GSTIN">GSTIN<p-sortIcon field="GSTIN" /></th>
                <th pSortableColumn="Revenue_Dvision">Revenue Division<p-sortIcon field="Revenue_Dvision" /></th>



            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr style="font-size: 12px;">
                <td style="width: 6%;">{{ customer.S_No }}</td>
                <td style="width: 7%;">{{ customer.User_ID }}</td>
                <td style="width: 6%;">{{ customer.User_Name }}</td>
                <td style="width: 8%;">{{ customer.Mobile_No }}</td>
                <td style="width: 6%;">{{ customer.Nature_of_Business }}</td>
                <td style="width: 8%;">{{ customer.Aadhaar_No }}</td>
                <td style="width: 6%;">{{ customer.PAN_No }}</td>
                <td style="width: 6%;">{{ customer.Email_Id }}</td>
                <td style="width: 6%;">{{ customer.GSTIN }}</td>
                <td style="width: 6%;">{{ customer.Revenue_Dvision }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<!-- <app-footer></app-footer> -->
