<div class="content">
  <div class="card">
    <p-table #dt2 [value]="dataSource" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
      [globalFilterFields]="['S_No','User_ID','User_Name','Mobile_No','Nature_of_Business','Aadhaar_No','PAN_No','Email_Id','GSTIN','Revenue_Dvision']"
      [tableStyle]="{ 'min-width': '75rem' }" styleClass="p-datatable-striped">
      <ng-template pTemplate="caption">
        <div class="searchbar">
          <div class="search">
            <p-iconField iconPosition="left" class="ml-auto">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input pInputText type="text" (input)="onFilterGlobal($event)" placeholder="Search keyword" />
            </p-iconField>
          </div>
          <div class="dialog" *ngIf="(userRole === 'COMMISSIONER'  || userRole === 'SECRETARY')">
            <p-button (click)="showDialog()" label="Add New" severity="success" size="small" />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr style="font-size: 12px;">
          <th pSortableColumn="SL_NO">S.No <p-sortIcon field="SL_NO" /></th>
          <th pSortableColumn="USER_ID">User ID <p-sortIcon field="USER_ID" /></th>
          <th pSortableColumn="USER_NAME">User Name<p-sortIcon field="USER_NAME" /></th>
          <th pSortableColumn="MOBILE_NUM">Mobile No<p-sortIcon field="MOBILE_NUM" /></th>
          <th pSortableColumn="NATURE_OF_BUSINESS"> Nature of Business<p-sortIcon field="NATURE_OF_BUSINESS" /></th>
          <th pSortableColumn="Aadhaar_No">Aadhar No<p-sortIcon field="Aadhaar_No" /></th>
          <th pSortableColumn="PAN">PAN No<p-sortIcon field="PAN" /></th>
          <th pSortableColumn="EMAIL_ID">Email Id<p-sortIcon field="EMAIL_ID" /></th>
          <th pSortableColumn="GST_IN">GSTIN<p-sortIcon field="GST_IN" /></th>
          <!-- <th pSortableColumn="Revenue_Dvision">Revenue Division<p-sortIcon field="Revenue_Dvision" /></th> -->
          <th *ngIf="(userRole === 'COMISSIONER'  || userRole === 'SECRETARY')"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr style="font-size: 12px;">
          <td style="width: 6%;">{{ customer.SL_NO }}</td>
          <td style="width: 7%;">{{ customer.USER_ID }}</td>
          <td style="width: 6%;">{{ customer.USER_NAME }}</td>
          <td style="width: 8%;">{{ customer.MOBILE_NUM }}</td>
          <td style="width: 6%;">{{ customer.NATURE_OF_BUSINESS }}</td>
          <td style="width: 8%;">{{ customer.Aadhaar_No }}</td>
          <td style="width: 6%;">{{ customer.PAN }}</td>
          <td style="width: 6%;">{{ customer.EMAIL_ID }}</td>
          <td style="width: 6%;">{{ customer.GST_IN }}</td>
          <!-- <td style="width: 6%;">{{ customer.Revenue_Dvision }}</td> -->
          <td style="width: 6%;" *ngIf="(userRole === 'COMMISSIONER'  || userRole === 'SECRETARY')">
            <div class="rowbtn">
              <button class="editButton" (click)="openEditDialog(customer)"> <i class="pi pi-pencil"></i></button>
              <!-- <button class="deleteButton"><i class="pi pi-trash"></i></button> -->
              <!-- <p-button icon="pi pi-check" [rounded]="true" [outlined]="true" /> -->
              <!-- <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" /> -->

              <!-- <p-button icon="pi pi-pencil" severity="success" size="small"></p-button> -->
              <!-- <p-button icon="pi pi-trash" severity="danger" size="small"></p-button> -->
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<!-- Add New Dialog  -->

<p-dialog header="Add New" [modal]="true" [(visible)]="visible" position="center" [style]="{ width: '50rem' }">
  <form [formGroup]="addNewForm" (ngSubmit)="addNewUser()">
    <div class="form-container">
      <div class="form-row">
        <div class="form-group">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" formControlName="username" class="form-input" />
        </div>
        <!-- <div class="form-group">
          <label for="mobile" class="form-label">Mobile No</label>
          <input type="tel" id="mobile" formControlName="mobileNo" class="form-input" (keydown)="limitInputLength($event, 10)"/>
        </div> -->
        <div class="form-group">
          <label for="mobile" class="form-label">Mobile No</label>
          <input type="tel" id="mobile" formControlName="mobileNo" class="form-input" inputmode="numeric"
            (keydown)="validateNumericInput($event)" (keydown)="limitInputLength($event, 10)" />
        </div>

      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="business" class="form-label">Business</label>
          <input type="text" id="business" formControlName="natureOfBusiness" class="form-input" />
        </div>
        <div class="form-group">
          <label for="aadhar" class="form-label">Aadhar No</label>
          <input type="text" id="aadhar" formControlName="aadhar" class="form-input" inputmode="numeric"
            (keydown)="validateNumericInput($event)" (keydown)="limitInputLength($event, 10)"  />
        </div>
      </div>

      <div class="form-row">
        <!-- <div class="form-group">
          <label for="pan" class="form-label">PAN No</label>
          <input type="text" id="pan" formControlName="pan" class="form-input" />
        </div> -->
        <!-- <div class="form-group">
          <label for="pan">PAN No</label>
          <input type="text" id="pan" class="form-input" formControlName="pan" (keydown)="limitInputLength($event, 10)"
          />
        </div> -->
        <div class="form-group">
          <label for="pan" class="form-label">PAN No</label>
          <input type="text" id="pan" class="form-input" formControlName="pan" maxlength="10"
            (keydown)="validatePanInput($event)" (keydown)="limitInputLength($event, 10)" />
        </div>

        <!-- <div class="form-group">
          <label for="email" class="form-label">Email ID</label>
          <input type="email" id="email" formControlName="email_id" class="form-input" />
        </div> -->
        <!-- Email Field (50 characters max, email-valid characters only) -->
        <div class="form-group">
          <label for="email" class="form-label">Email ID</label>
          <input type="email" id="email" formControlName="email_id" class="form-input" (keydown)="validateEmailInput($event)"
            (keydown)="limitInputLength($event, 50)" />
        </div>

      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="gstin" class="form-label">GST IN</label>
          <input type="text" id="gstin" formControlName="gstIn" class="form-input"  inputmode="numeric"
            (keydown)="validateNumericInput($event)" (keydown)="limitInputLength($event, 10)"/>
        </div>
        <div class="form-group">
          <label for="revenue" class="form-label">Revenue Division</label>
          <input type="text" id="revenue" formControlName="revenueDivision" class="form-input" />
        </div>
      </div>
    </div>
    <div class="btn">
      <div class="save">
        <p-button type="submit" label="Save" size="small" />
      </div>
      <div class="save">
        <p-button label="Cancel" severity="danger" (click)="visible = false" size="small" />
      </div>
    </div>
  </form>
</p-dialog>

<!-- Edit New Dilog  -->

<p-dialog header="Edit User" [(visible)]="editVisible" [modal]="true" position="center" [style]="{ width: '50rem' }">
  <form [formGroup]="editForm" (ngSubmit)="updateUser()">
    <div class="form-container">
      <div class="form-row">
        <div class="form-group">
          <label for="editUsername" class="form-label">Username</label>
          <input type="text" id="editUsername" formControlName="editUsername" class="form-input" />
          <div *ngIf="editForm.get('editUsername')?.invalid && editForm.get('editUsername')?.touched">
            <small class="error">Username is required.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="editMobile" class="form-label">Mobile No</label>

          <input type="number" id="editMobile" formControlName="editMobile" class="form-input" inputmode="numeric"
            (keydown)="validateNumericInput($event)" (keydown)="limitInputLength($event, 10)"/>
          <div *ngIf="editForm.get('editMobile')?.invalid && editForm.get('editMobile')?.touched">
            <small class="error">Please enter a valid 10-digit mobile number.</small>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="editBusiness" class="form-label">Business</label>
          <input type="text" id="editBusiness" formControlName="editBusiness" class="form-input" />
        </div>
        <div class="form-group">
          <label for="editAadhar" class="form-label">Aadhar No</label>
          <input type="number" id="editAadhar" formControlName="editAadhar" class="form-input" inputmode="numeric"
            (keydown)="validateNumericInput($event)" (keydown)="limitInputLength($event, 10)" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="editPan" class="form-label">PAN No</label>
          <input type="text" id="editPan" formControlName="editPan" class="form-input" formControlName="pan" maxlength="10"
            (keydown)="validatePanInput($event)" (keydown)="limitInputLength($event, 10)" />
        </div>
        <div class="form-group">
          <label for="editEmail" class="form-label">Email ID</label>
          <input type="email" id="editEmail" formControlName="editEmail"   class="form-input" (keydown)="validateEmailInput($event)"
            (keydown)="limitInputLength($event, 50)"/>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="editGstin" class="form-label">GST IN</label>
          <input type="text" id="editGstin" formControlName="editGstin" class="form-input" />
        </div>
        <div class="form-group">
          <label for="editRevenue" class="form-label">Revenue Division</label>
          <input type="text" id="editRevenue" formControlName="editRevenue" class="form-input" />
        </div>
      </div>
    </div>
    <div class="btn">
      <div class="save">
        <p-button type="submit" label="Update" size="small"></p-button>
      </div>
      <div class="save">
        <p-button label="Cancel" severity="danger" (click)="editVisible = false" size="small"></p-button>
      </div>
    </div>
  </form>

</p-dialog>
