// ::ng-deep .p-tabview .p-tabview-panels {
//     padding: 0rem 0rem 4rem 0rem; 
// }
.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Container to center the form */
.form-container {
  
    padding: 20px;

}

/* Styling form groups */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* Styling labels */
.form-label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}

/* Styling input fields */
.form-input {
    padding: 8px;
    width: fit-content;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}





