<div class="card">
    <p-table #dt2 [value]="complex" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
        [paginator]="true" [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        [tableStyle]="{ 'min-width': '75rem' }" styleClass="p-datatable-striped">
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="onFilterGlobal($event)" placeholder="Search keyword" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr style="font-size: xx-small;">
                <th pSortableColumn="S_No">S.No <p-sortIcon field="S_No" /></th>
                <th pSortableColumn="country.name">Complex Code <p-sortIcon field="country.name" /></th>
                <th pSortableColumn="representative.name">Complex Name <p-sortIcon field="representative.name" /></th>
                <th pSortableColumn="status">District <p-sortIcon field="status" /></th>
                <th pSortableColumn="country.code">Map Location<p-sortIcon field="country.code" /></th>
                <th pSortableColumn="country.code">Place<p-sortIcon field="country.code" /></th>
                <th pSortableColumn="country.code">RI_Name<p-sortIcon field="country.code" /></th>
                <th pSortableColumn="country.code">Revenue_Division<p-sortIcon field="country.code" /></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{ customer.S_No }}</td>
                <td>{{ customer.Complex_Code }}</td>
                <td>{{ customer.Complex_Name }}</td>
                <td>{{ customer.District }}</td>
                <td>{{ customer.Map_Location }}</td>
                <td>{{ customer.Place }}</td>
                <td>{{ customer.RI_Name }}</td>
                <td>{{ customer.Revenue_Division }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>