<div class="card custom-table">
    <p-table #dt2 [value]="assetsData" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
    [globalFilterFields]="['Sl_NO', 'ALLOTTEE_NAME', 'LOCATION', 'LOCATION_CODE', 'EXTENT', 'FLOOR', 'PRESENT_RENT', 'PROPERTY_CODE', 'REVENUE_DIVISION', 'STATUS', 'TYPE_OF_PROPERTY']">
        <ng-template pTemplate="caption">
            <div class="searchbar">
                <div class="search">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text"  (input)="onFilterGlobal($event)" placeholder="Search keyword" />
                    </p-iconField>
                </div>
                <div class="search">
                    <p-dropdown 
                    [options]="complex" 
                    (onChange)="onSelectGlobal($event.value)"
                    placeholder="Select Location" />
                </div>
                <div class="dialog" *ngIf="(userRole === 'COMMISSIONER'  || userRole === 'SECRETARY')">
                    <p-button (onClick)="showDialog()" label="Add New" severity="success" size="small" />
                    <p-dialog header="Add New" [modal]="true" [(visible)]="visible" position="center" [style]="{ width: '50rem' }">
                        <form [formGroup]="locationForm" (ngSubmit)="onSave()">
                            <div class="form-container">
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="location" class="form-label">Location</label>
                                        <select formControlName="location" class="form-input">
                                            <option value="" disabled selected>Select Location</option>
                                            <option *ngFor="let loc of location" [value]="loc">{{ loc }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="location-code" class="form-label">Location Code</label>
                                        <select formControlName="locationCode" class="form-input">
                                            <option value="" disabled selected>Select Location Code</option>
                                            <option *ngFor="let code of complex" [value]="code">{{ code }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="property-code" class="form-label">Property Code</label>
                                        <input formControlName="propertyCode" type="text" class="form-input" />
                                    </div>
                                </div>                                                   
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="property-no" class="form-label">Property No</label>
                                        <input formControlName="propertyNo" type="text" class="form-input" />
                                    </div>
                                    <div class="form-group">
                                        <label for="type-of-property" class="form-label">Type of Property</label>
                                        <input formControlName="typeOfProperty" type="text" class="form-input" />
                                    </div>
                                    <div class="form-group">
                                        <label for="floor" class="form-label">Floor</label>
                                        <input formControlName="floor" type="text" class="form-input" />
                                    </div>
                                </div>                   
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="attribuite1" class="form-label">Attribute 1</label>
                                        <input formControlName="attribuite1" type="text" class="form-input" />
                                    </div>
                                    <div class="form-group">
                                        <label for="extent" class="form-label">Extent</label>
                                        <input formControlName="extent" type="text" class="form-input" />
                                    </div>
                                    <div class="form-group">
                                        <label for="present-rent" class="form-label">Present Rent</label>
                                        <input formControlName="presentRent" type="number" class="form-input" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="allottee-name" class="form-label">Allottee Name</label>
                                        <input formControlName="allotteeName" type="text" class="form-input" />
                                    </div>
                                    <div class="form-group">
                                        <label for="size" class="form-label">Size</label>
                                        <input formControlName="size" type="text" class="form-input" />
                                    </div>
                                    <div class="form-group">
                                        <label for="length" class="form-label">Length</label>
                                        <input formControlName="length" type="number" class="form-input" />
                                    </div>
                                   
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="breadth" class="form-label">Breadth</label>
                                        <input formControlName="breadth" type="number" class="form-input" />
                                    </div>
                                    <div class="form-group">
                                        <label for="revenue-division" class="form-label">Revenue Division</label>
                                        <input formControlName="revenueDivision" type="text" class="form-input" />
                                    </div>
                                    <div class="form-group">
                                        <label for="power-meter-number" class="form-label">Power Meter Number</label>
                                        <input formControlName="powerMeterNumber" type="text" class="form-input" />
                                    </div>
                                    
                                </div>                 
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="water-meter-no" class="form-label">Water Meter No</label>
                                        <input formControlName="waterMeterNo" type="text" class="form-input" />
                                    </div>
                                    <div class="form-group">
                                        <label for="details" class="form-label">Details</label>
                                        <input formControlName="details" type="text" class="form-input" />
                                    </div>
                                    <div class="form-group">
                                        <label for="status" class="form-label">Status</label>
                                        <input formControlName="status" type="text" class="form-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="btn">
                                <div class="save">
                                    <p-button label="Save" type="submit" size="small" />
                                </div>
                                <div class="save">
                                    <p-button label="Cancel" severity="danger" (onClick)="visible = false" size="small" />
                                </div>
                            </div>
                        </form>
                    </p-dialog>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr style="font-size: 12px; padding: 0;">
                <th pSortableColumn="Sl_NO">S No <p-sortIcon field="Sl_NO" /></th>
                <th pSortableColumn="ALLOTTEE_NAME">Tennant Name <p-sortIcon field="ALLOTTEE_NAME" /></th>
                <th pSortableColumn="LOCATION">Location <p-sortIcon field="LOCATION" /></th>
                <!-- <th pSortableColumn="LOCATION_CODE">Location Code <p-sortIcon field="LOCATION_CODE" /></th> -->
                <th pSortableColumn="EXTENT">Extent <p-sortIcon field="EXTENT" /></th>
                <th pSortableColumn="FLOOR">Floor <p-sortIcon field="FLOOR" /></th>
                <th pSortableColumn="PRESENT_RENT">Present Rent <p-sortIcon field="PRESENT_RENT" /></th>
                <th pSortableColumn="PROPERTY_CODE">Property Code <p-sortIcon field="PROPERTY_CODE" /></th>
                <th pSortableColumn="REVENUE_DIVISION">Revenue Division <p-sortIcon field="REVENUE_DIVISION" /></th>
                <th pSortableColumn="STATUS">Status <p-sortIcon field="STATUS" /></th>
                <th pSortableColumn="TYPE_OF_PROPERTY">Type of Property <p-sortIcon field="TYPE_OF_PROPERTY" /></th>
                <th *ngIf="(userRole === 'COMISSIONER'  || userRole === 'SECRETARY')"></th>
                
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-location>
            <tr style="font-size: 12px; margin-bottom: 1rem;">
              <td style="width: 6%;">{{ location.Sl_NO }}</td>
              <td style="width: 10%;">{{ location.ALLOTTEE_NAME }}</td>
              <td style="width: 10%;">{{ location.LOCATION }}</td>
              <!-- <td style="width: 10%;">{{ location.LOCATION_CODE }}</td> -->
              <td style="width: 10%;">{{ location.EXTENT }}</td>
              <td style="width: 10%;">{{ location.FLOOR }}</td>
              <td style="width: 10%;">{{ location.PRESENT_RENT }}</td>
              <td style="width: 10%;">{{ location.PROPERTY_CODE }}</td>
              <td style="width: 10%;">{{ location.REVENUE_DIVISION }}</td>
              <td style="width: 10%;">{{ location.STATUS }}</td>
              <td style="width: 10%;">{{ location.TYPE_OF_PROPERTY }}</td>
              <td *ngIf="(userRole === 'COMMISSIONER'  || userRole === 'SECRETARY')">
                <div class="rowbtn">
                  <button class="editButton" (click)="onEdit(location)">
                    <i class="pi pi-pencil"></i>
                  </button>
                  <!-- <button class="deleteButton">
                    <i class="pi pi-trash"></i>
                  </button> -->
                </div>
              </td>
            </tr>
          </ng-template>
          
        <ng-template pTemplate="emptymessage" >
            <tr>
                <td colspan="13">No data found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<!-- Edit Dialog  -->

<p-dialog header="Edit Property" [modal]="true" [(visible)]="editVisible" position="center" [style]="{ width: '50rem' }">
    <form [formGroup]="editForm" (ngSubmit)="onUpdate()">
        <div class="form-container">
            <div class="form-row">
                <div class="form-group">
                    <label for="location" class="form-label">Location</label>
                    <select formControlName="editlocation" class="form-input">
                        <option value="" disabled selected>Select Location</option>
                        <option *ngFor="let loc of location" [value]="loc">{{ loc }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="location-code" class="form-label">Location Code</label>
                    <select formControlName="editlocationCode" class="form-input">
                        <option value="" disabled selected>Select Location Code</option>
                        <option *ngFor="let code of complex" [value]="code">{{ code }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="property-code" class="form-label">Property Code</label>
                    <input formControlName="editpropertyCode" type="text" class="form-input" />
                </div>
            </div>                                                   
            <div class="form-row">
                <div class="form-group">
                    <label for="property-no" class="form-label">Property No</label>
                    <input formControlName="editpropertyNo" type="text" class="form-input" />
                </div>
                <div class="form-group">
                    <label for="type-of-property" class="form-label">Type of Property</label>
                    <input formControlName="edittypeOfProperty" type="text" class="form-input" />
                </div>
                <div class="form-group">
                    <label for="floor" class="form-label">Floor</label>
                    <input formControlName="editfloor" type="text" class="form-input" />
                </div>
            </div>                   
            <div class="form-row">
                <div class="form-group">
                    <label for="attribuite1" class="form-label">Attribute 1</label>
                    <input formControlName="editattribuite1" type="text" class="form-input" />
                </div>
                <div class="form-group">
                    <label for="extent" class="form-label">Extent</label>
                    <input formControlName="editextent" type="text" class="form-input" />
                </div>
                <div class="form-group">
                    <label for="present-rent" class="form-label">Present Rent</label>
                    <input formControlName="editpresentRent" type="number" class="form-input" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="allottee-name" class="form-label">Allottee Name</label>
                    <input formControlName="editallotteeName" type="text" class="form-input" />
                </div>
                <div class="form-group">
                    <label for="size" class="form-label">Size</label>
                    <input formControlName="editsize" type="text" class="form-input" />
                </div>
                <div class="form-group">
                    <label for="length" class="form-label">Length</label>
                    <input formControlName="editlength" type="number" class="form-input" />
                </div>
               
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="breadth" class="form-label">Breadth</label>
                    <input formControlName="editbreadth" type="number" class="form-input" />
                </div>
                <div class="form-group">
                    <label for="revenue-division" class="form-label">Revenue Division</label>
                    <input formControlName="editrevenueDivision" type="text" class="form-input" />
                </div>
                <div class="form-group">
                    <label for="power-meter-number" class="form-label">Power Meter Number</label>
                    <input formControlName="editpowerMeterNumber" type="text" class="form-input" />
                </div>
                
            </div>                 
            <div class="form-row">
                <div class="form-group">
                    <label for="water-meter-no" class="form-label">Water Meter No</label>
                    <input formControlName="editwaterMeterNo" type="text" class="form-input" />
                </div>
                <div class="form-group">
                    <label for="details" class="form-label">Details</label>
                    <input formControlName="editdetails" type="text" class="form-input" />
                </div>
                <div class="form-group">
                    <label for="status" class="form-label">Status</label>
                    <input formControlName="editstatus" type="text" class="form-input" />
                </div>
            </div> 
        </div>
        <div class="btn">
            <p-button label="Update" type="submit" size="small" />
            <p-button label="Cancel" severity="danger" (onClick)="editVisible = false" size="small" />
        </div>
    </form>
</p-dialog>