<app-header></app-header>
<app-dashboard></app-dashboard>
<div class="card custom-table">
    <p-table>
        <ng-template pTemplate="caption">

            <div class="searchbar">
                <div class="search">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" placeholder="Search keyword" />
                    </p-iconField>
                </div>
                <div class="dialog">
                    <p-button 
                    (onClick)="showDialog()" 
                    label="Add New" 
                    severity="success"
                    size="small" />
                    <p-dialog 
    header="Add New" 
    [modal]="true"
    [(visible)]="visible" 
    position="center" 
    [style]="{ width: '50rem' }">
    <div class="form-container">
        <div class="form-row">
          <div class="form-group">
            <label for="property-code" class="form-label">Property Code</label>
            <input type="text" id="property-code" class="form-input" />
          </div>
          <div class="form-group">
            <label for="property-no" class="form-label">Property No</label>
            <input type="text" id="property-no" class="form-input" />
          </div>
        </div>
      
        <div class="form-row">
          <div class="form-group">
            <label for="property-type" class="form-label">Type of Property</label>
            <input type="text" id="property-type" class="form-input" />
          </div>
          <div class="form-group">
            <label for="floor" class="form-label">Floor</label>
            <input type="text" id="floor" class="form-input" />
          </div>
        </div>
      
        <div class="form-row">
          <div class="form-group">
            <label for="complex-name" class="form-label">Complex Name</label>
            <input type="text" id="complex-name" class="form-input" />
          </div>
          <div class="form-group">
            <label for="complex-code" class="form-label">Complex Code</label>
            <input type="text" id="complex-code" class="form-input" />
          </div>
        </div>
      
        <div class="form-row">
          <div class="form-group">
            <label for="revenue-division" class="form-label">Revenue Division</label>
            <input type="text" id="revenue-division" class="form-input" />
          </div>
          <div class="form-group">
            <label for="ri-name" class="form-label">RI Name</label>
            <input type="text" id="ri-name" class="form-input" />
          </div>
        </div>
      
        <div class="form-row">
          <div class="form-group">
            <label for="extent" class="form-label">Extent</label>
            <input type="text" id="extent" class="form-input" />
          </div>
          <div class="form-group">
            <label for="power-meter-no" class="form-label">Power Meter No</label>
            <input type="text" id="power-meter-no" class="form-input" />
          </div>
        </div>
      
        <div class="form-row">
          <div class="form-group">
            <label for="water-meter-no" class="form-label">Water Meter No</label>
            <input type="text" id="water-meter-no" class="form-input" />
          </div>
          <div class="form-group">
            <label for="maintenance-amount" class="form-label">Maintenance Amount</label>
            <input type="number" id="maintenance-amount" class="form-input" />
          </div>
        </div>
      </div>      
    <div class="btn">
        <div class="save">
            <p-button label="Save" (onClick)="visible = false" size="small"/>
        </div>
        <div class="save">
            <p-button label="Cancel" severity="danger" (onClick)="visible = false" size="small"/>
        </div>
    </div>
                    </p-dialog>
                </div>

            </div>
            <!-- <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" placeholder="Search keyword" />
                </p-iconField>
                <p-button 
                    (onClick)="showDialog()" 
                    label="Add New" 
                    severity="success"
                    size="small" />
                    
            </div> -->


        </ng-template>
        <ng-template pTemplate="header">
            <tr style="font-size: 12px; padding: 0;">
                <th pSortableColumn="S_No">S No<p-sortIcon field="S_No" /></th>
                <th pSortableColumn="location_code">Location Code<p-sortIcon field="location_code" /></th>
                <th pSortableColumn="property_code">Property Code<p-sortIcon field="property_code" /></th>
                <th pSortableColumn="property_no">Property No<p-sortIcon field="property_no" /></th>
                <th pSortableColumn="type_of_property">Type Of Property<p-sortIcon field="type_of_property" /></th>
                <th pSortableColumn="floor">Floor<p-sortIcon field="floor" /></th>
                <th pSortableColumn="complex_name">Complex Name<p-sortIcon field="complex_name" /></th>
                <th pSortableColumn="complex_code">Complex Code<p-sortIcon field="complex_code" /></th>
                <th pSortableColumn="revenue_division">Revenue Division<p-sortIcon field="revenue_division" /></th>
                <th pSortableColumn="ri_name">RI Name<p-sortIcon field="ri_name" /></th>
                <th pSortableColumn="extent">Extent<p-sortIcon field="extent" /></th>
                <th pSortableColumn="power_meter_number">Power Meter Number<p-sortIcon field="power_meter_number" /></th>
                <th pSortableColumn="water_meter_number">Water Meter Number<p-sortIcon field="water_meter_number" /></th>
                <th pSortableColumn="maintenance_amount">Maintenance Amount<p-sortIcon field="maintenance_amount" /></th>
                <th ></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-property>
          <tr style="font-size: 12px;">
            <td style="width: 6%;">{{ property.S_No }}</td>
            <td style="width: 8%;">{{ property.location_code }}</td>
            <td style="width: 8%;">{{ property.property_code }}</td>
            <td style="width: 8%;">{{ property.property_no }}</td>
            <td style="width: 10%;">{{ property.type_of_property }}</td>
            <td style="width: 6%;">{{ property.floor }}</td>
            <td style="width: 10%;">{{ property.complex_name }}</td>
            <td style="width: 8%;">{{ property.complex_code }}</td>
            <td style="width: 10%;">{{ property.revenue_division }}</td>
            <td style="width: 10%;">{{ property.ri_name }}</td>
            <td style="width: 8%;">{{ property.extent }}</td>
            <td style="width: 10%;">{{ property.power_meter_number }}</td>
            <td style="width: 10%;">{{ property.water_meter_number }}</td>
            <td style="width: 12%;">{{ property.maintenance_amount }}</td>
            <td>
              <div style="display: flex;">
                <button class="editButton">Edit</button>
                <button class="deleteButton">Delete</button>
              </div>
             </td>
        </tr>
        
        </ng-template>
    </p-table>
</div>



<app-footer></app-footer>
