.loginContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/VMRDA_Background_copy.png");
  background-size: cover;
  background-position: center;
  filter: blur(1px); /* Apply blur to the background */
  z-index: 1; /* position of blurred image*/
}

.titleDiv, .formDiv {
  // position: relative;
  z-index: 2; /* Make sure content is above the blurred background */
}

.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputStyles {
  width: fit-content;
}

.logoStyles {
  width: 100%;
}

.titleDiv {
  display: flex;
  justify-content: center;
  padding: 6%;
  color: white;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
  
}
.otp {
  color: rgb(5, 5, 5);
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
}

.buttonClass {
  border: none;
  background-color: #2b7187;
  color: white;
  padding: 10px 14px;
}

.card {
  background-color: rgba(255, 255, 255, 0.7); /* White background with 80% opacity */
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 28%;
  padding: 35px;
  z-index: 2; /* Ensure the card is on top of the blurred background */
  position: relative; /* Position relative to place above the background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.otpdiv{
  display: flex;
justify-content: center; 
 margin-top: 30px;
}
