/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.login-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: url('../../assets/Untitled_design.png') no-repeat center center/cover;
  padding: 0 50px;
}

.welcome-box {
  max-width: 350px;
  color: white;
  background-color: #e95420;
  padding: 1rem;
  // color: #fff;
  opacity: 0.8;
}

.welcome-box h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.welcome-box p {
  font-size: 0.95em;
  margin-bottom: 20px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1.5em;
  text-decoration: none;
}

// .login-box {
//   background-color: white;
//   padding: 30px;
//   width: 350px;
//   border-radius: 10px;
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
//   opacity: 0.8;
  
// }

.login-box {
  
  padding: 30px;
  width: 350px;
  
}


.login-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.input-group {
  margin-bottom: 1px;
}

.input-group label {
  font-size: 0.85em;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.passwordInput{
  padding: 0.65rem;
  width: 100%;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-group input {
  margin-right: 10px;
}

.signin-btn {
  padding: 10px;
  background-color: #e95420;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

.signin-btn:hover {
  background-color: #d3471d;
}

.forgot-link {
  display: block;
  border: none;
  background: none;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.terms {
  margin-top: 10px;
  font-size: 0.75em;
}

.terms a {
  color: #007bff;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}
 .ForgotPasswordButton{
  border: none;
  // background-color:;
  color: white;
 }

 .formHeading{
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
  font-size:large;
 }

 .otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.timer-container {
  margin-top: 10px;
  text-align: center;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.otp-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}