<title>Login Page</title>
<div class="login-container">
  <div class="welcome-box">
    <h1>Welcome to VMRDA</h1>
    <!-- <p>
      We’re glad to see you again. Enjoy a seamless experience as you navigate through our platform.
    </p> -->
    <div class="social-icons">
      <span>
        <a href="http://vmrda.gov.in/" target="_blank"><i class="pi pi-facebook"></i></a>
      </span>
      <span>
        <a href="http://vmrda.gov.in/" target="_blank"><i class="pi pi-twitter"></i></a>
      </span>
      <span>
        <a href="http://vmrda.gov.in/" target="_blank"><i class="pi pi-instagram"></i></a>
      </span>
      <span>
        <a href="http://vmrda.gov.in/" target="_blank"><i class="pi pi-youtube"></i></a>
      </span>
    </div>
  </div>
  <div class="login-box">
    <!-- Login Form  -->

    <form #loginForm="ngForm" novalidate *ngIf="!forgotPasswordDiv">
      <div class="formHeading">
        <h1>Sign In</h1>
      </div>
      <div class="input-group">
        <input id="username" type="text" pInputText [(ngModel)]="userID" name="username" #usernameCtrl="ngModel"
          required placeholder="Enter User Id" />
      </div>
      <div class="input-group" style="margin-top: 1rem;">
        <input id="password" type="password" pInputText [(ngModel)]="password" name="password" #passwordCtrl="ngModel"
          required placeholder="Enter Password" />
        <div *ngIf="
            (passwordCtrl.invalid && passwordCtrl.touched) ||
            (usernameCtrl.invalid && usernameCtrl.touched)" class="error" style="margin-top: 2rem;color:red; background: white;">
          Invalid Username and Password.
        </div>
      </div>

      <!-- OTP section if required -->
      <div *ngIf="otpDiv"  class="otp-div">
          <p-inputOtp id="otp" type="number"  style="background: none;border: none;" 
          placeholder="Enter Otp" pInputText [(ngModel)]="otp" name="otp" required></p-inputOtp>
          
          <div class="timer-container">
            <button pButton label="Resend OTP" (click)="resendOtp()" [disabled]="isTimerActive"></button>
            <p style="color: white; font-weight: 700;margin-top: 10px;"
            *ngIf="isTimerActive">You can resend OTP in {{ timer }} seconds</p>
          </div>
      </div>
      <!-- Submit buttons -->
      <div class="buttonDiv" style="margin-top: 20px;display: flex;flex-direction: column;align-items: center;">
        <div>
          <button class="signin-btn" type="submit" (click)="Login(loginForm)" *ngIf="!otpDiv">
            Sign in 
          </button>
          <button class="signin-btn" type="submit" (click)="submitOtp()" *ngIf="otpDiv">
            Submit OTP
          </button>
        </div>
        <div>
          <button class="forgot-link" (click)="ForgotPasswordDiv()">
            <h3>Forgot password?</h3>
          </button>
        </div>
      </div>
    </form>

    <!-- ForgotPasswordForm  -->

    <form #forgotpasswordform="ngForm" novalidate *ngIf="forgotPasswordDiv">
      <div class="input-group">
        <input id="username" type="text" pInputText [(ngModel)]="userID" name="username" #usernameCtrl="ngModel"
          required placeholder="Enter your UserId" />
      </div>
      <div class="input-group" *ngIf="isNewPassword">
        <input id="username" type="text" pInputText [(ngModel)]="newPassword" name="newPassword" #usernameCtrl="ngModel"
          required placeholder="Enter New Password" />
      </div>
      <div class="input-group" *ngIf="isNewPassword">
        <input id="username" type="text" pInputText [(ngModel)]="renterNewPass" name="renterNewPass" #usernameCtrl="ngModel"
          required placeholder="Enter Re-Enter New Password" />
      </div>
      <!-- OTP section if required -->
      <div *ngIf="showForgotOtpDiv && otpDiv && !isNewPassword" style="margin-top: 10px;">
        <p-inputOtp id="otp" type="number" placeholder="Enter Otp" pInputText [(ngModel)]="otp" name="otp"
          required></p-inputOtp>
        <div class="otp" style="color: rgb(38, 129, 211); font-weight: 700;" (click)="resendOtp()" *ngIf="otpDiv && !isNewPassword">
          Resend OTP
        </div>
      </div>


      <!-- Submit buttons -->
      <div class="buttonDiv" style="margin-top: 20px;display: flex;flex-direction: column;align-items: center;">
        <div>
          <button class="signin-btn" type="submit" (click)="ForgotPassword(forgotpasswordform)" *ngIf="!otpDiv && !isNewPassword">
            Verify User
          </button>
          <button class="signin-btn" type="submit" (click)="forgetPassverifyOtp()" *ngIf="otpDiv && !isNewPassword">
            Submit OTP
          </button>
          <button class="signin-btn" type="submit" (click)="submitNewPassword()" *ngIf="!otpDiv && isNewPassword">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>