<div class="content">
  <div class="card" >
    <p-table #dt2 [value]="dataSource" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
      [globalFilterFields]="['S_No', 'User_ID', 'User_Name', 'Mobile_No', 'Nature_of_Business', 'Aadhaar_No', 'PAN_No', 'Email_Id', 'GSTIN', 'Revenue_Dvision']"
      [tableStyle]="{ 'min-width': '75rem' }" styleClass="p-datatable-striped">
      <ng-template pTemplate="caption">
        <div class="searchbar">
          <div class="search">
            <p-iconField iconPosition="left" class="ml-auto">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input pInputText type="text" (input)="onFilterGlobal($event)" placeholder="Search keyword" />
            </p-iconField>
          </div>
          <div class="dialog">
            <p-button (click)="showAddDialog()" label="Add New" severity="success" size="small" />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr style="font-size: 12px;">
          <th pSortableColumn="SL_NO">S.No <p-sortIcon field="SL_NO" /></th>
          <th pSortableColumn="USER_ID">User ID <p-sortIcon field="USER_ID" /></th>
          <th pSortableColumn="USER_NAME">User Name<p-sortIcon field="USER_NAME" /></th>
          <th pSortableColumn="MOBILE_NUM">Mobile No<p-sortIcon field="MOBILE_NUM" /></th>
          <th pSortableColumn="EMAIL_ID">Email ID<p-sortIcon field="EMAIL_ID" /></th>
          <th pSortableColumn="USER_TYPE">User Type<p-sortIcon field="USER_TYPE" /></th>
          <th pSortableColumn="REVENUE_DIVISION">Revenue Division<p-sortIcon field="REVENUE_DIVISION" /></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr style="font-size: 12px;">
          <td style="width: 6%;">{{ customer.SL_NO }}</td>
          <td style="width: 7%;">{{ customer.USER_ID }}</td>
          <td style="width: 6%;">{{ customer.USER_NAME }}</td>
          <td style="width: 8%;">{{ customer.MOBILE_NUM }}</td>
          <td style="width: 8%;">{{ customer.EMAIL_ID }}</td>
          <td style="width: 6%;">{{ customer.USER_TYPE }}</td>
          <td style="width: 6%;">{{ customer.REVENUE_DIVISION }}</td>
          <td style="width: 6%;">
            <div class="rowbtn">
              <button class="editButton" (click)="showEditDialog(customer)">
                <i class="pi pi-pencil"></i>
              </button>
              <!-- <button class="deleteButton">
                <i class="pi pi-trash"></i>
              </button> -->
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Add Dialog -->
<p-dialog header="Add New" [modal]="true" [(visible)]="visible" position="center" [style]="{ width: '30rem' }">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="saveUser()">
      <div class="form-row">
        <div class="form-group">
          <label for="user_id" class="form-label">User ID</label>
          <input type="text" id="user_id" formControlName="user_id" class="form-input" />
        </div>
        <div class="form-group">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" formControlName="username" class="form-input" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="mobileNo" class="form-label">Mobile No</label>
          <input type="tel" id="mobileNo" formControlName="mobileNo" class="form-input"
          inputmode="numeric"
            (keydown)="validateNumericInput($event)" (keydown)="limitInputLength($event, 10)" />
        </div>
        <div class="form-group">
          <label for="userType" class="form-label">User Type</label>
          <input type="text" id="userType" formControlName="userType" class="form-input" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="revenueDivision" class="form-label">Revenue Division</label>
          <input type="text" id="revenueDivision" formControlName="revenueDivision" class="form-input" />
        </div>
        <!-- <div class="form-group">
          <label for="email_id" class="form-label">Email ID</label>
          <input type="email" id="email_id" formControlName="email_id" class="form-input" />
        </div> -->
        <!-- Email Field (50 characters max, email-valid characters only) -->
        <div class="form-group">
          <label for="email" class="form-label">Email ID</label>
          <input type="email" id="email" formControlName="email_id" class="form-input" (keydown)="validateEmailInput($event)"
            (keydown)="limitInputLength($event, 50)" />
        </div>

      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input type="text" id="password" formControlName="password" class="form-input" />
        </div>
      </div>

      <div class="btn">
        <p-button type="submit" label="Save" size="small" />
        <p-button label="Cancel" severity="danger" (click)="visible = false" size="small" />
      </div>
    </form>
  </div>
</p-dialog>


<!-- Edit Dialog -->
<p-dialog header="Edit User" [modal]="true" [(visible)]="editVisible" position="center" [style]="{ width: '30rem' }">
  <div class="form-container">
    <form [formGroup]="editForm" (ngSubmit)="updateUser()">
      <div class="form-row">
        <div class="form-group">
          <label for="user_id" class="form-label">User ID</label>
          <input type="text" id="userid" formControlName="USER_ID" class="form-input" />
        </div>
        <div class="form-group">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" formControlName="editUserName" class="form-input" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="mobileNo" class="form-label">Mobile No</label>
          <input type="number" id="mobileNo" formControlName="MOBILE_NUM" class="form-input" />
        </div>
        <div class="form-group">
          <label for="usertype" class="form-label">User Type</label>
          <input type="text" id="usertype" formControlName="user_type" class="form-input" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="revenuedivision" class="form-label">Revenue Division</label>
          <input type="text" id="revenuedivision" formControlName="REVENUE_DIVISION" class="form-input" />
        </div>
      </div>
      <div class="btn">
        <p-button type="submit" label="Update" size="small" />
        <p-button label="Cancel" severity="danger" (click)="editVisible = false" size="small" />
      </div>
    </form>
  </div>
</p-dialog>
