<app-header></app-header>
<app-dashboard></app-dashboard>
<div class="card custom-table">
    <p-table>
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text"  placeholder="Search keyword" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr style="font-size: 12px; padding: 0;">
                <th pSortableColumn="S_No" >S No <p-sortIcon field="S_No" /></th>
                <th pSortableColumn="location_name">Location Name<p-sortIcon field="location_name" /></th>
                <th pSortableColumn="location_code">Location code<p-sortIcon field="location_code" /></th>
                <th pSortableColumn="no_of_complexes">No of complexes <p-sortIcon field="no_of_complexes" /></th>
                <th pSortableColumn="no_of_individual_Shops">No of individual shops<p-sortIcon field="no_of_individual_Shops" /></th>
                <th pSortableColumn="total_no_of_shops">Total No Of Shops<p-sortIcon field="total_no_of_shops" /></th>
                <th pSortableColumn="District">District<p-sortIcon field="District" /></th>
                <th pSortableColumn="city">city<p-sortIcon field="city" /></th>
                <th pSortableColumn="place">place<p-sortIcon field="place" /></th>
                <th pSortableColumn="map_location">Map Location<p-sortIcon field="map_location" /></th>
                <th pSortableColumn="revenue_division">Revenue Division<p-sortIcon field="revenue_division" /></th>
                <th pSortableColumn="ri_name">RI Name<p-sortIcon field="ri_name" /></th>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="body" let-customer >
            <tr style="font-size: 12px;">
                <td style="width: 6%;">{{ customer.S_No }}</td>
                <td style="width: 10%;">{{ customer.Complex_Code }}</td>
                <td style="width: 15%;">{{ customer.Complex_Name }}</td>
                <td style="width: 10%;">{{ customer.District }}</td>
                <td style="width: 10%;">{{ customer.Map_Location }}</td>
                <td style="width: 10%;">{{ customer.Place }}</td>
                <td style="width: 10%;">{{ customer.RI_Name }}</td>
                <td style="width: 12%;">{{ customer.Revenue_Division }}</td>
                
            </tr>
        </ng-template> -->
    
        <ng-template pTemplate="emptymessage">
            <tr style="margin-bottom: 1rem;">
                <td colspan="8">No data found.</td>
            </tr>
        </ng-template>
  
    </p-table>
</div>
<app-footer></app-footer>
