<div class="parent">
    <div class="header" *ngIf="(authService.isAuthenticated$ | async) && showComponents"><app-header></app-header></div>
    <div class="dashboard" *ngIf="(authService.isAuthenticated$ | async) && showComponents"><app-dashboard></app-dashboard></div>
    <div class="content">
        <app-spinner></app-spinner>
        <router-outlet></router-outlet>
        <!-- <app-razorpay></app-razorpay> -->
    </div>
    <div class="footer-content-dashboard" *ngIf="(authService.isAuthenticated$ | async) && showComponents"><app-footer></app-footer></div>
</div>
