<div class="card custom-table">
  <p-table #dt2 [value]="dataSource"  [globalFilterFields]="['SL_NO', 'USER_ID', 'USER_NAME', 'PROPERTY', 'START_DATE', 'END_DATE','DATE_OF_RENEWAL_OF_LICENSE', 'RENTAL_LEASE_AMOUNT_PERMONTH', 'RENT_GO_LIVE', 'RENTAL_LEASE_PERIOD', 'RENTAL_INTRESET_PERCENT', 'RENTAL_HIKE_PERCENT', 'GST', 'LEASE_DEED_NO']"
   [tableStyle]="{ 'min-width': '75rem' }"[resizableColumns]="true" [rows]="20" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
     [columnResizeMode]="'fit'"[scrollable]="true" scrollHeight="25rem"  selectionMode="single"  styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="caption">
      <div class="searchbar">
          <div class="filters">
            <div class="search">
              <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input pInputText type="text" (input)="onFilterGlobal($event)" placeholder="Search keyword" />
              </p-iconField>
            </div>
            <div class="search">
              <p-multiSelect 
                [options]="propertyCode" 
                placeholder=" Select Property"       
                [filter]="true"
              emptyFilterMessage="No results found"
                (onChange)="onSelectGlobal('PROPERTY_CODE', $event.value)"
              >
              </p-multiSelect>
            </div>
            
            <div class="search">
              <p-multiSelect 
                [options]="alloteName" 
                placeholder=" Select Allote"
                [filter]="true"
              emptyFilterMessage="No results found"
              
                (onChange)="onSelectGlobal('USER_NAME', $event.value)"
              >
                <!-- <ng-template let-option pTemplate="item">
                  {{ option | slice:0:14 }} 
                </ng-template>
                <ng-template let-selectedValue pTemplate="selectedItem">
                  {{ selectedValue | slice:0:14 }}
                </ng-template> -->
              </p-multiSelect>
            </div>
            
          </div>
        <div class="dialog" *ngIf="(userRole === 'COMMISSIONER'  || userRole === 'SECRETARY' || userRole === 'AO' || userRole === 'ADMIN' || userRole === 'CO_ADMIN')">
          <button class="addbutton" (click)="downloadExcel()" pTooltip="Download tenant tagging data" tooltipPosition="bottom" style="margin-right: 1rem;">
            <i class="pi pi-file-excel" style="font-size: 1rem"></i>
          </button>
          <button  class="addbutton" (click)="showDialog()">+ Tag New Assets</button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr style="font-size: 12px;">
        <th pResizableColumn>S No</th>
        <th pResizableColumn>User Id</th>
        <th pResizableColumn>User Name</th>
        <th pResizableColumn>Property Name</th>
        <th pResizableColumn>Start Date</th>
        <th pResizableColumn>End Date</th>
        <th pResizableColumn pSortableColumn="DATE_OF_RENEWAL_OF_LICENSE">Date of Renewal<p-sortIcon
            pResizableColumn field="DATE_OF_RENEWAL_OF_LICENSE"></p-sortIcon></th>
        <th pResizableColumn>Lease Amount</th>
        <th pResizableColumn>Lease Go Live</th>
        <th pResizableColumn>Lease Period</th>
        <th pResizableColumn>Lease Interest%</th>
        <th pResizableColumn>Lease Hike%</th>
        <th pResizableColumn>GST%</th>
        <!-- <th pSortableColumn="GST_INTEREST_PERCENT">GST INTEREST PERCENT<p-sortIcon field="GST_INTEREST_PERCENT"></p-sortIcon></th> -->
        <th pResizableColumn>Lease Deed Number</th>
        <th *ngIf="(userRole === 'COMMISSIONER'  || userRole === 'SECRETARY' || userRole === 'AO' || userRole === 'ADMIN' || userRole === 'CO_ADMIN')"></th>
        <th ></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-lease>
      <tr style="font-size: 12px;">
        <td >{{ lease.SL_NO }}</td>
        <td >{{ lease.USER_ID }}</td>
        <td >{{ lease.USER_NAME }}</td>
        <td >{{ lease.property_name }}</td>
        <td >{{ lease.START_DATE | date: 'dd-MM-yyyy' }}</td>
        <td >{{ lease.END_DATE | date: 'dd-MM-yyyy' }}</td>
        <td >{{ lease.DATE_OF_RENEWAL_OF_LICENSE | date: 'dd-MM-yyyy'}}</td>
        <td >{{ lease.RENTAL_LEASE_AMOUNT_PERMONTH }}</td>
        <td >{{ lease.RENT_GO_LIVE }}</td>
        <td >{{ lease.RENTAL_LEASE_PERIOD }}</td>
        <td >{{ lease.rental_interest_percent }}</td>
        <td >{{ lease.RENTAL_HIKE_PERCENT }}</td>
        <td >{{ lease.GST }}</td>
        <td >{{ lease.LEASE_DEED_NO }}</td>
        <td *ngIf="(userRole === 'COMMISSIONER'  || userRole === 'SECRETARY' || userRole === 'AO' || userRole === 'ADMIN' || userRole === 'CO_ADMIN')">
          <div class="rowbtn">
            <button class="editButton" pTooltip="Edit Asset Tagging" tooltipPosition="left" (click)="editUser(lease)"><i
                class="pi pi-pencil"></i></button>
          </div>
        </td>
        <td *ngIf="lease.attachment_url !== null">
          <i class="pi pi-paperclip" style="color: slateblue" (click)="downloadFile(lease.attachment_url)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- AddNew Dialog  -->

<p-dialog header="Tag New Asset" [modal]="true" [(visible)]="visible" position="center" [style]="{ width: '35rem' }" (onHide)="closeaddDialog()">
  <form [formGroup]="addNewForm" (ngSubmit)="addNewUser()">
    <div class="form-container">
      <div class="form-row">
        <div class="form-group">
          <label for="userId" class="form-label">User Id <span class="text-danger">*</span></label>
          <input type="text" id="userId" formControlName="user_id" class="form-input" />
          <div *ngIf="addNewForm.get('user_id')?.invalid && addNewForm.get('user_id')?.touched">
            <small class="text-danger">User Id is required.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="username" class="form-label">Upload </label>
          <input type="file" id="fileupload" class="form-input" formControlName = "attachment" (change)="onFileChange($event)" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="DATE_OF_RENEWAL_OF_LICENSE" class="form-label">Date of renuewal<span class="text-danger">*</span></label>
          <input type="date" id="DATE_OF_RENEWAL_OF_LICENSE" formControlName="DATE_OF_RENEWAL_OF_LICENSE" class="form-input" />
        </div>

        <div class="form-group">
          <label for="RENTAL_LEASE_AMOUNT_PERMONTH" class="form-label">Rent lease amount</label>
          <input type="text" pInputText inputId="integeronly" id="RENTAL_LEASE_AMOUNT_PERMONTH" class="form-input" formControlName = "RENTAL_LEASE_AMOUNT_PERMONTH" />
        </div>
        <div class="form-group">
          <label for="RENT_GO_LIVE" class="form-label">Rent go live</label>
          <input type="text" id="RENT_GO_LIVE" class="form-input" formControlName = "RENT_GO_LIVE" />
        </div>
      </div>
      <div class="form-row">
        
        <div class="form-group">
          <label for="RENTAL_LEASE_PERIOD" class="form-label">Rent lease period</label>
          <input type="text" id="RENTAL_LEASE_PERIOD" class="form-input" formControlName = "RENTAL_LEASE_PERIOD" />
        </div>
        <div class="form-group">
          <label for="rental_interest_percent" class="form-label">Rent intrest %</label>
          <input type="text" id="rental_interest_percent" class="form-input" formControlName = "rental_interest_percent" />
        </div>
        <div class="form-group">
          <label for="RENTAL_HIKE_PERCENT" class="form-label">Rent hike %</label>
          <input type="text" id="RENTAL_HIKE_PERCENT" inputId="minmax" mode="decimal" [min]="0" [max]="100" suffix="%" class="form-input" formControlName = "RENTAL_HIKE_PERCENT" />
        </div>
      </div>
      <div class="form-row">
        
        <div class="form-group">
          <label for="GST" class="form-label">GST </label>
          <input type="text" id="GST" class="form-input" formControlName = "GST" />
        </div>
        <div class="form-group">
          <label for="GST_INTEREST_PERCENT" class="form-label">GST % </label>
          <input type="text" id="GST_INTEREST_PERCENT" class="form-input" formControlName = "GST_INTEREST_PERCENT"  />
        </div>
        <div class="form-group">
          <label for="LEASE_DEED_NO" class="form-label">Lease deed no. </label>
          <input type="text" id="LEASE_DEED_NO" class="form-input" formControlName = "LEASE_DEED_NO"  />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="startdate" class="form-label">Start Date <span class="text-danger">*</span></label>
          <input type="date" id="startdate" formControlName="start_date" class="form-input" />
         
        </div>
        <div class="form-group">
          <label for="enddate" class="form-label">End Date <span class="text-danger">*</span></label>
          <input type="date" id="enddate" formControlName="end_date" class="form-input" />
          <div *ngIf="addNewForm.get('end_date')?.invalid && addNewForm.get('end_date')?.touched">
            <small class="text-danger">End Date is required.</small>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="property" class="form-label">Property <span class="text-danger">*</span></label>
          <p-dropdown [options]="unoccupiedProprertys" placeholder="Select Property" id="property" appendTo="body"
            [autoZIndex]="true" [autoDisplayFirst]="false" formControlName="property" />
          <div *ngIf="addNewForm.get('property')?.invalid && addNewForm.get('property')?.touched">
            <small class="text-danger">Property is required.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="btn">
      <div class="save">
        <p-button type="submit" label="Save" size="small" />
      </div>
      <div class="save">
        <p-button label="Cancel" severity="danger" (click)="closeaddDialog()" size="small" />
      </div>
    </div>
  </form>
</p-dialog>


<!-- Edit Dialog -->

<p-dialog header="Edit Asset Tagging" [modal]="true" [(visible)]="editVisible" position="center"
  [style]="{ width: '50rem' }" (onHide)="closeeditDialog()">
  <form [formGroup]="editForm" (ngSubmit)="updateUser()">
    <div class="form-container">
      <div class="form-row">
        <div class="form-group">
          <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
          <input type="text" id="username" formControlName="username" class="form-input" />
        </div>
        <div class="form-group">
          <label for="userId" class="form-label">User Id <span class="text-danger">*</span></label>
          <input type="text" id="userId" formControlName="user_id" class="form-input" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="property" class="form-label">Property <span class="text-danger">*</span></label>
          <input type="text" id="property" formControlName="property" class="form-input" />
          <small class="input-format-info">Format: UBC-ABC-01</small>
        </div>
        <div class="form-group">
          <label for="startdate" class="form-label">Start Date <span class="text-danger">*</span></label>
          <input type="date" id="startdate" formControlName="start_date" class="form-input" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="enddate" class="form-label">End Date <span class="text-danger">*</span></label>
          <input type="date" id="enddate" formControlName="end_date" class="form-input" />
        </div>
      </div>
    </div>
    <div class="btn">
      <div class="save">
        <p-button type="submit" label="Update" size="small" />
      </div>
      <div class="save">
        <p-button label="Cancel" severity="danger" (click)="closeeditDialog()" size="small" />
      </div>
    </div>
  </form>
</p-dialog>