 <!-- <app-header></app-header>
<app-dashboard></app-dashboard> -->
<div class="content">

<div class="card">
  <button (click)="sendEmail()">Mail Send</button>

    <p-table [value]="dataSource" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true">
        <ng-template pTemplate="caption">
            <div class="searchbar">
                <div class="search">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" placeholder="Search keyword" />
                    </p-iconField>
                </div>
                <div class="dialog">
                    <!-- <p-button 
                    (onClick)="showDialog()" 
                    label="Add New" 
                    severity="success"
                    size="small" /> -->
                    <p-dialog 
    header="Bill Details" 
    [modal]="true"
    [(visible)]="visible" 
    position="center" 
    [style]="{ width: '50rem' }">
    <div class="form-container">
      <form [formGroup]="form">
        <div class="form-row">
            <!-- <div class="form-group">
              <label for="s_no" class="form-label">S No</label>
              <input type="text" id="s_no" class="form-input" formControlName="s_no"/>
            </div> -->
          <div class="form-group">
            <label for="bill_no" class="form-label">Bill No</label>
            <input type="text" id="bill_no" class="form-input" formControlName="bill_no" />
          </div>
          <div class="form-group">
            <label for="user_id" class="form-label">User Id</label>
            <!-- <select class="custom-select" style="width: 90%;">
              <option>9999999999MANA</option>
              <option>9999999999PLAX</option>
              <option>9999999999PANC</option>
            </select> -->
            <input type="text" id="user_id" class="form-input" formControlName="user_id" />
          </div>
        </div>    
        <div class="form-row">
          <div class="form-group">
            <label for="property_code" class="form-label">Property Code</label>
            <!-- <select class="custom-select" style="width: 90%;">
              <option>RN-D1-CS1-GS01</option>
              <option>RN-D1-CS1-GS02</option>
              <option>RN-D1-CS1-GS03</option>
            </select> -->
            <input type="text" id="user_id" class="form-input" formControlName="property_code" />
          </div>
          <div class="form-group">
            <label for="lease_period" class="form-label">Lease Period</label>
            <input type="text" id="lease_period" class="form-input" formControlName="lease_period"/>
          </div>
          <!-- <div class="form-group">
            <label for="billing_period" class="form-label">Billing Period</label>
            <input type="text" id="billing_period" class="form-input" />
          </div>   -->
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="lease_amount" class="form-label">Lease Amount</label>
            <input type="number" id="lease_amount" class="form-input"  formControlName="lease_Amount"/>
          </div>   
          <div class="form-group">
            <label for="gst" class="form-label">GST</label>
            <input type="number" id="gst" class="form-input" formControlName="gst" />
          </div>
          <div class="form-group">
            <label for="power_bill_amount" class="form-label">Power Bill Amount</label>
            <input type="number" id="power_bill_amount" class="form-input" (change)="calculateTotal()" formControlName="power_bill_amount"/>
          </div> 
        </div>  
        <div class="form-row">
          <div class="form-group">
            <label for="water_bill_amount" class="form-label">Water Bill Amount</label>
            <input type="number" id="water_bill_amount" class="form-input" (change)="calculateTotal()" formControlName="water_bill_amount" />
          </div>      
          <div class="form-group">
            <label for="maintenance_amount" class="form-label">Maintenance Amount</label>
            <input type="number" id="maintenance_amount" class="form-input" (change)="calculateTotal()" formControlName="maintenance_amount" />
          </div>
          <div class="form-group">
            <label for="lease_interests" class="form-label">Lease Interest</label>
            <input type="number" id="lease_interests" class="form-input"  formControlName="lease_interests"/>
          </div>   
        </div>
        <div class="form-row" style="display: flex;justify-content: center;">
          <div class="form-group">
            <label for="total" class="form-label">Total</label>
            <input type="number" id="total" class="form-input" formControlName="total" />
          </div>
          <!-- <div class="form-group">
            <label for="adjustments" class="form-label">Adjustments</label>
            <input type="number" id="adjustments" class="form-input"  />
          </div> -->
        </div>
        </form>
      </div>
    <div class="btn">
        <div class="save">
            <p-button label="Generate" (onClick)="visible = false" size="small"/>
        </div>
        <div class="cancel">
            <p-button label="Cancel" severity="danger" (onClick)="visible = false" size="small"/>
        </div>
    </div>
   </p-dialog>

                </div>
            </div>
            <!-- <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" placeholder="Search keyword" />
                </p-iconField>
                <p-button 
                    (onClick)="showDialog()" 
                    label="Add New Bill" 
                    severity="success"
                    size="small" />
            </div> -->
        </ng-template>
        <ng-template pTemplate="header">
            <tr style="font-size: 12px; padding: 0;">
                <th pSortableColumn="S_No">S No<p-sortIcon field="S_No" /></th>
                <th pSortableColumn="Bill_No">Bill No<p-sortIcon field="Bill_No" /></th>
                <th pSortableColumn="User_ID">User Id<p-sortIcon field="User_ID" /></th>
                <th pSortableColumn="property_code">Property Code<p-sortIcon field="property_code" /></th>
                <th pSortableColumn="Lease_Period">Lease Period<p-sortIcon field="Lease_Period" /></th>
                <th pSortableColumn="Lease_Amount">Lease Amount<p-sortIcon field="Lease_Amount" /></th>
                <th pSortableColumn="gst">GST<p-sortIcon field="gst" /></th>
                <!-- <th pSortableColumn="Lease_Interest">Lease Interest<p-sortIcon field="Lease_Interest" /></th> -->
                <!-- <th pSortableColumn="gst_intrest">GST Interest<p-sortIcon field="gst_intrest" /></th> -->
                <th pSortableColumn="power_bill_amount">Power Bill Amount<p-sortIcon field="power_bill_amount" /></th>
                <th pSortableColumn="water_bill_amount">Water Bill Amount<p-sortIcon field="water_bill_amount" /></th>
                <th pSortableColumn="maintenance_amount">Maintenance Amount<p-sortIcon field="maintenance_amount" /></th>
                <th pSortableColumn="Bill_Generate_Date">Bill Generate Date<p-sortIcon field="Bill_Generate_Date" /></th>

                <th pSortableColumn="total_amount">Total Amount<p-sortIcon field="total_amount" /></th>
                <th pSortableColumn="Payment_Date">Payment Date<p-sortIcon field="Payment_Date" /></th>
                <th pSortableColumn="total_due">Total Due<p-sortIcon field="total_due" /></th>
                <th pSortableColumn="status">Status<p-sortIcon field="status" /></th>
                <!-- <th pSortableColumn="RI_Approval">RI Approval<p-sortIcon field="RI_Approval" /></th>
                <th pSortableColumn="RI_ASSIGNED">RI Assigned<p-sortIcon field="RI_ASSIGNED" /></th> -->
                <th></th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bill>
          <tr style="font-size: 12px;">
            <td style="width: 6%;">{{ bill.S_No }}</td>
            <td style="width: 8%;">{{ bill.Bill_No }}</td>
            <td style="width: 8%;">{{ bill.User_ID }}</td>
            <td style="width: 8%;">{{ bill.Property_Code }}</td>
            <td style="width: 10%;">{{ bill.Lease_Period }}</td>
            <td style="width: 8%;">{{ bill.Lease_Amount }}</td>
            <td style="width: 6%;">{{ bill.GST }}</td>
            <td style="width: 8%;">{{ bill.Lease_Interest }}</td>
            <td style="width: 8%;">{{ bill.GST_Interest }}</td>
            <td style="width: 10%;">{{ bill.Power_Bill_Amount }}</td>
            <td style="width: 10%;">{{ bill.Water_Bill_Amount }}</td>
            <td style="width: 10%;">{{ bill.Maintainence_Amount }}</td>
            <td style="width: 10%;">{{ formatDate(bill.Bill_Generate_Date) }}</td>
            <td style="width: 8%;">{{ bill.Total_Amount }}</td>
            <td style="width: 8%;">{{ formatDate(bill.Payment_Date) }}</td>
            <td style="width: 8%;">{{ bill.Total_Due }}</td>
            <td style="width: 8%;">{{ bill.Status }}</td>
            <td style="width: 8%;">{{ bill.RI_Approval }}</td>
            <td style="width: 8%;">{{ bill.RI_ASSIGNED }}</td>
            <td>
              <div class="rowbtn">
                <button class="editButton" (click)="showDialog(bill.Bill_No)"> <i class="pi pi-pencil"></i></button>
                <!-- <button class="deleteButton"><i class="pi pi-trash"></i></button> -->
              </div>
             </td>
        </tr>
      </ng-template>  
    </p-table>
</div>
</div>


 


<!-- <app-footer></app-footer> -->
