.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between the buttons */
  margin: 10px;

  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s, border 0.3s; /* Smooth transition for background, scaling, and border */
    
    &:hover {
      transform: scale(1.05); /* Slightly scale up the button on hover */
    }

    &.approved {
      background-color: green;

      &:hover {
        background-color: darkgreen; /* Darker green on hover */
      }
    }

    &.pending {
      background-color: yellow;
      color: black; /* Yellow background needs black text for better visibility */

      &:hover {
        background-color: gold; /* Slightly darker yellow on hover */
      }
    }

    &.rejected {
      background-color: red;

      &:hover {
        background-color: darkred; /* Darker red on hover */
      }
    }

    &.active {
      
      transform: scale(1.05); /* Slightly scale up the button when active */
    }
  }
}

.rowbtn{
  display: flex;
  gap: 1rem;

}
.btn{
  background: none;
  border: none;
}


/* Add shadow effect */
.Button.active {
  box-shadow: 0 6px 8px rgba(101, 101, 101, 1);
  transition: box-shadow 0.3s ease-in-out;
}

.Button{
  padding: 10px 20px;
  border: none;
  background: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}


