<div class="card">
    <p-tabView [(activeIndex)]="activeTabIndex" (onChange)="onTabChange($event)" [scrollable]="true">
        <p-tabPanel header="User Details"> </p-tabPanel>
        <p-tabPanel header="Complex Details"> </p-tabPanel>
        <p-tabPanel header="Location Details"> </p-tabPanel>
        <p-tabPanel header="Property Details"> </p-tabPanel>
        <p-tabPanel header="User Tagging"> </p-tabPanel>
        <p-tabPanel header="Bill Details"> </p-tabPanel>
        <p-tabPanel header="Receipt Details"> </p-tabPanel>
        <p-tabPanel header="Transaction Tracking"> </p-tabPanel>
        <p-tabPanel header="Change Request"> </p-tabPanel>
        <p-tabPanel header="Reports"> </p-tabPanel>
    </p-tabView>
</div>
