.card{
  padding: 1.5rem;
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: #2b7187;

  .logo {
    img {
      height: 50px;  // Adjust the height as needed
    }
  }

  .title {
    flex: 1;
    text-align: center;
    margin-top: 0.5rem;
    color: #ffffff;

    h4 {
      margin: 0;
      font-size: 24px;  // Adjust the font size as needed
      font-weight: bold;
      color: #333;  // Adjust the text color as needed
    }
  }
}


.footer {
  background-color: #2b7187; // Background color of the footer
  color: #ffffff; // Text color
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;


  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-left {
      p {
        margin: 0;
        font-size: 14px; // Adjust font size as needed
      }
    }

    .footer-right {
      a {
        color: #ffffff; // Link color
        margin-left: 20px;
        text-decoration: none;

        &:hover {
          text-decoration: underline; // Underline links on hover
        }
      }
    }
  }
}
