/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* Remove padding from the p-table header, body, and footer cells */
.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-tfoot > tr > td {
    padding: 8px !important; 
    
}


.p-datatable .p-datatable-header {
    padding: 1rem 1rem;
}


.p-tabview .p-tabview-nav li .p-tabview-nav-link{
    padding: 1.25rem 0.9rem;
    font-size: 18px ;
    font-weight: 500 ;
}



